<!DOCTYPE html>
<html>
<head>
	<title>常见问题_鲜家网</title>
    <meta name="keywords" content="">
    <meta name="description" content="常见问题 Common problem 我怎么订购，流程是怎么样的？ 您在网上提交一个订单，按提示付完款后，我们将在您要求的时间送花上门。 了解购物流程 我订鲜花多久能送到？ 在您订购付款后，鲜花1-...">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" type="text/css" href="static/css/animation.css">
<link rel="stylesheet" type="text/css" href="static/css/common.css">
<link rel="stylesheet" type="text/css" href="static/css/base.css">

<script src="static/js/jquery-1.7.2.min.js"></script>
<script src="static/js/banner.js"></script>
<script src="static/js/lazyload.js"></script>
<script src="static/js/cutdown.js"></script>

<script type="text/javascript" src="static/js/jquery.showDialog.js"></script>
<link href="static/css/showDialog.css" rel="stylesheet" type="text/css">

<script src="static/js/app.min.js"></script>
<script src="static/js/common.js"></script>
<script type="text/javascript">app.uri='';app.root='//www.xian.com';</script>
	<style type="text/css">.service-body span{color: #ff2f2f;}</style>
	<script type="text/javascript">
	$(function(){
		$('.khzx-menu dl dt a').click(function(){
			$('.khzx-menu dl').removeClass('active');
			$(this).parent().parent().addClass('active');
		});
		//动态生成
		$('.khzx-menu dl dd a[aid=203]').addClass('active').parent().parent().addClass('active');
	});
	</script>
</head>
<body class="bg">

	
<div class="topper">
	<div class="wrap">
		<div class="h-left">
			<a href="javascript:;" title="收藏鲜花网"><img src="static/picture/logo.png" src="//www.xian.com/theme/xian.com/default/static/img/logo.png" width="200" height="90"></a>
		</div>
		<div class="h-right">
			<a href="index.html">首页</a>
			<a href="index30.html">鲜花</a>
			<a href="index31.html">永生花</a>
			<a href="index32.html">礼品</a>
			<a href="index33.html">每周一花</a>
			<a href="index34.html">花语</a>
			<a href="index35.html">企业团购</a>
			<span class="search">
				<form action="//www.xian.com/s.html" method="get" name="search">
					<input type="hidden" name="o" value="0">
					<div class="search-frame">
						<input type="text" class="q" name="q" placeholder="请输入关键词搜索" autocomplete="off" value="">
						<button type="submit" class="s" onclick="if($('.q').val()=='') return false;"><i class="icon icon-search iconbounce"></i></button>
					</div>
				</form>
			</span>
			<a class="nb" href="index3.html"><span class="shopcar iconbounce"><i class="icon icon-cart"></i><i class="icon-scar-num">0</i></span></a>
			<span class="shop-other iconbounce"> <i class="icon icon-me"></i> </span>
			<div class="h-me-select" style="display: none;">
				<div class="arrow-up"></div>
				<ul>
					<li class="i_1 login"><a href="index2.html"><i class="i"></i>登录/注册</a></li>
					<li class="i_2"><a href="index1.html"><i class="i"></i>我的鲜家</a></li>
					<li class="i_3"><a href="index85.html"><i class="i"></i>我的收藏</a></li>
					<li class="i_4"><a href="javascript:;" onclick="openChat();"><i class="i"></i>联系客服</a></li>
					<li class="i_5"><a href="index33.html"><i class="i"></i>帮助中心</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="h-list" style="display: none;">
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_10_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>用途</span><span>销售价</span><span>花材</span><span>枝数</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="index4.html">爱情鲜花</a>
					<a href="index5.html">生日鲜花</a>
					<a href="index6.html">友情鲜花</a>
					<a href="index7.html">周年纪念</a>
					<a href="index8.html">婚庆鲜花</a>
					<a href="index9.html">祝贺鲜花</a>
					<a href="javascript:;">探病慰问</a>
					<a href="index52.html">问候长辈</a>
					<a href="javascript:;">商务鲜花</a>
					<a href="javascript:;">道歉鲜花</a>
				</span>
				<span>
					
					<a href="index22.html">150元以内</a>
					<a href="index23.html">150-199元</a>
					<a href="index24.html">200-249元</a>
					<a href="index25.html">250-399元</a>
					<a href="index26.html">400-499元</a>
					<a href="index27.html">500-599元</a>
					<a href="index28.html">600-699元</a>
					<a href="index29.html">700元以上</a>
				</span>
				<span>
					
					<a href="index10.html">玫瑰花</a>
					<a href="index11.html">康乃馨</a>
					<a href="index12.html">百合花</a>
					<a href="index13.html">向日葵</a>
					<a href="index14.html">紫罗兰</a>
					<a href="index15.html">满天星</a>
				</span>
				<span>
					
					<a href="javascript:;">6枝</a>
					<a href="javascript:;">8枝</a>
					<a href="javascript:;">9枝</a>
					<a href="javascript:;">11枝</a>
					<a href="javascript:;">12枝</a>
					<a href="javascript:;">13枝</a>
					<a href="javascript:;">15枝</a>
					<a href="javascript:;">16枝</a>
					<a href="javascript:;">19枝</a>
					<a href="javascript:;">21枝</a>
					<a href="javascript:;">25枝</a>
					<a href="javascript:;">29枝</a>
					<a href="javascript:;">33枝</a>
					<a href="javascript:;">66枝</a>
					<a href="javascript:;">99枝以上</a>
				</span>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_11_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>类别</span><span>用途</span><span>销售价</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="javascript:;">经典花盒</a>
					<a href="javascript:;">永生瓶花</a>
					<a href="javascript:;">巨型玫瑰</a>
					<a href="javascript:;">特色永生花</a>
					<a href="javascript:;">永生花公仔</a>
				</span>
				<span>
					
					<a href="javascript:;">送恋人爱人</a>
					<a href="javascript:;">送父母长辈</a>
					<a href="javascript:;">送朋友同事</a>
				</span>
				<span>
					
					<a href="index70.html">100-199元</a>
					<a href="index71.html">200-299元</a>
					<a href="index72.html">300-399元</a>
					<a href="index73.html">400-499元</a>
					<a href="index74.html">500-599元</a>
					<a href="index75.html">600-699元</a>
					<a href="index76.html">700元以上</a>
				</span>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_15_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>类别</span><span>用途</span><span>适合对象</span><span>销售价</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="javascript:;">首饰</a>
					<a href="javascript:;">音乐盒</a>
					<a href="javascript:;">香薰</a>
					<a href="javascript:;">公仔</a>
					<a href="javascript:;">创意摆件</a>
					<a href="javascript:;">巧克力</a>
					<a href="javascript:;">灯饰</a>
					<a href="javascript:;">水晶球</a>
					<a href="javascript:;">水杯</a>
					<a href="javascript:;">加湿器</a>
					<a href="javascript:;">按摩仪</a>
				</span>
				<span>
					
					<a href="javascript:;">生日礼品</a>
					<a href="javascript:;">约会礼品</a>
					<a href="index82.html">结婚礼品</a>
					<a href="javascript:;">祝福礼品</a>
					<a href="javascript:;">拜访礼品</a>
					<a href="javascript:;">纪念日礼品</a>
					<a href="javascript:;">乔迁礼品</a>
					<a href="javascript:;">家居礼品</a>
				</span>
				<span>
					
					<a href="javascript:;">送恋人</a>
					<a href="javascript:;">送朋友</a>
					<a href="javascript:;">送客户</a>
					<a href="javascript:;">送老师</a>
					<a href="javascript:;">送小孩</a>
					<a href="javascript:;">送领导</a>
					<a href="javascript:;">送长辈</a>
				</span>
				<span>
					
					<a href="index77.html">120元以下</a>
					<a href="index78.html">120-180元</a>
					<a href="index79.html">180-300元</a>
					<a href="index80.html">300-500元</a>
					<a href="index81.html">500元以上</a>
				</span>
			</div>
		</div>
	</div>
</div>

	<div class="wrap nav">
		<a href="index.html">鲜家首页</a><span>&gt;</span>常见问题
	</div>

	<div class="wrap">
		<div class="wl240 bgfff khzx-menu">
			<dl>
				<dt><a href="javascript:;"><i class="icon km01"></i>服务声明<i class="icon km"></i></a></dt>
				<dd><a href="200.html" aid="200">服务声明</a></dd>
				<dd><a href="202.html" aid="202">购物流程</a></dd>
				<dd><a href="201.html" aid="201">隐私条款</a></dd>
			</dl>

			<dl>
				<dt><a href="javascript:;"><i class="icon km02"></i>常见问题</a></dt>
				<dd><a href="" aid="203">常见问题</a></dd>
			</dl>

			<dl>
				<dt><a href="javascript:;"><i class="icon km03"></i>订单帮助<i class="icon km"></i></a></dt>
				<!--dd><a href="/service/212.html" aid="212">订单查询</a></dd-->
				<dd><a href="213.html" aid="213">取消订单</a></dd>
				<dd><a href="211.html" aid="211">订单补交货款</a></dd>
			</dl>

			<dl>
				<dt><a href="javascript:;"><i class="icon km04"></i>售后服务<i class="icon km"></i></a></dt>
				<dd><a href="208.html" aid="208">投诉说明</a></dd>
				<dd><a href="210.html" aid="210">鲜花售后服务</a></dd>
				<!--dd><a href="/service/209.html" aid="209">绿植售后服务</a></dd-->
			</dl>
<!--
			<dl>
				<dt><a href="javascript:;"><i class="icon km05"></i>礼品卡<i class="icon km"></i></a></dt>
			</dl>
-->
			<dl>
				<dt><a href="javascript:;"><i class="icon km06"></i>配送说明<i class="icon km"></i></a></dt>
				<dd><a href="207.html" aid="207">配送说明</a></dd>
				<dd><a href="205.html" aid="205">鲜花配送范围</a></dd>
				<dd><a href="204.html" aid="204">郊区/偏远地区配送费用</a></dd>
				<!--dd><a href="/service/206.html" aid="206">港澳台配送说明</a></dd-->
			</dl>

		</div>
		<div class="wr935 bgfff">
			<div class="service-body">
				<h3>
	常见问题
</h3>
<h4>
	Common problem
</h4>
<div>
	<h5>
		我怎么订购，流程是怎么样的？
	</h5>
</div>
<p>
	您在网上提交一个订单，按提示付完款后，我们将在您要求的时间送花上门。
</p>
<p>
	了解<a href="202.html">购物流程</a> 
</p>
<div>
	<h5>
		我订鲜花多久能送到？
	</h5>
</div>
<p>
	在您订购付款后，鲜花1-3小时就能送到接收人手上。您下单时可自由选择配送日期，我们已全国连锁，由当地的加盟店当天制作配送，以确保新鲜。
</p>
<div>
	<h5>
		我要送鲜花,需要提前多久订购？
	</h5>
</div>
<p>
	鲜花一般提前半天订购就可以送到；
</p>
<p>
	当然，您提前一个月、两个月、半年，或提前更长时间订购都是可以的，我们都会在您指定的日期为您配送，总之，您越早订购越好，方便我们提前安排。[注：个别商品因为是稀缺花材或有特别的制作工艺，需要提前订购，而需要提前的时间请查看商品详情中的说明]
</p>
<div>
	<h5>
		异地送花可以吗？[具体如：我人在成都，要送花到上海去，可以吗？]
	</h5>
</div>
<p>
	可以，鲜家网全国连锁，地级市以上城市都可以配送(西藏、新疆、内蒙古仅送部份地级市)，可送达全国900多个城市。
</p>
<div>
	<h5>
		我怎么样付款？
	</h5>
</div>
<p>
	网上支付、或银行汇款。[注：网上支付需您的银行卡开通在线支付（即网上银行）功能；如未开通网上银行，请选择银行汇款，目前工行、农行、建行等主要银行都支持ATM取款机进行同城和异地转帐，相比柜台办理，更方便快捷，推荐使用]
</p>
<div>
	<h5>
		银行汇款，你们多久能查到，会通知我吗？
	</h5>
</div>
<p>
	全国银行汇款都是即时到帐的，您汇完通知我们后，我们能马上查到，将短信通知您到款情况。
</p>
<div>
	<h5>
		我支付完款后，你们怎么知道是我的。
	</h5>
</div>
<p>
	您银行汇款后，需及时通知我们哪个订单汇哪个银行多少钱，财务能马上查到款。同一时段收到相同金额且订单号对不上的情况非常少，万一遇此情况，将要求传真核对您的汇款凭证。另如果您汇款时金额增加0.01元等类似尾数，重合机会大大降低，推荐使用。
</p>
<div>
	<h5>
		是先付款再配送吗？先付款怎么确保我的东西能按要求送到？
	</h5>
</div>
<p>
	是的，我们是国内领先的鲜花速递服务商，有着良好的市场口碑的和广泛的行业影响，必将用心服务，不负您的信赖。
</p>
<div>
	<h5>
		可以用支付宝支付吗？
	</h5>
</div>
<p>
	可以，我们是支付宝平台的商企用户，款项为即时支付成功。
</p>
<div>
	<h5>
		送到的鲜花会和图片上的一样吗？
	</h5>
</div>
<p>
	花艺师都是按图片和文字的要求来制作花束，主花材的枝数和颜色完全一致。
</p>
<p>
	花束效果因花艺师手法不同可能略有小的区别。
</p>
<div>
	<h5>
		我可以电话下订单吗？
	</h5>
</div>
<p>
	完全可以，您的光临是我们荣幸。
</p>
<p>
	订购中需填写详细收花人详细资料及贺卡留言，因此我们建议您在线下单，可以多一点时间把留言填写的更完美。
</p>
<p>
	<br>
</p>
<p>
	<a href="javascript:;"></a> 
</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="footer ">
	<div class="wrap">
		<div class=" footer-items">
			<div class="footer-item footer-link bdsharebuttonbox">
				<a class="hover footer-link-wx" href="javascript:;" data-cmd="weixin"></a>
				<a class="hover footer-link-qq" href="javascript:;" data-cmd="qzone"></a>
				<a class="hover footer-link-wb" href="javascript:;" data-cmd="tsina"></a>
				<p>Copyright © 2018 鲜家 All rights reserved.<br>Powered by Bo Wen Technology Co., Ltd.<br>工信部备：辽ICP备18014953号-2<br>公安部备：21010202000602</p>
			</div>
			<div class="footer-item r_code">
				<img data-lazy="//www.xian.com/theme/xian.com/default/static/img/r_code.png" alt="">
				<p>微信关注鲜家，立享优惠</p>
				<script type="text/javascript" src="static/js/mobile.js"></script>
			</div>
			<div class="footer-item footer-others">
				<div class="footer-other">
					<div class="footer-other-link">
						<span><a href="210.html">售后服务</a></span>
						<span><a href="index84.html">同城鲜花</a></span>
						<span><a href="200.html">关于我们</a></span>
					</div>
					<div class="footer-other-tel">全国订购热线:<span>400-888-1571</span></div>
					<div class="footer-other-tel">商务合作热线:<span>024-31128100</span></div>
					<div class="footer-other-customs">
						<a class="hover" href="javascript:;" onclick="openChat();">在线客服</a>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>

<script type="text/javascript" src="static/js/leyu.js"></script>
<script type="text/javascript" src="static/js/tongji.js"></script>

	<div class="rside">
	<div class="ibut cservice ">
		<a href="javascript:;" onclick="openChat();" title="鲜家顾问" class="cservice-avator">
			<p>鲜家顾问</p>
			<p>竭诚为您服务</p>
		</a>
		<!--
		<a class="cservice-box" href="javascript:;" onclick="openChat();">
			<div class="cservice-box-content">
				<div class="cservice-box-title">甄选优质鲜花，心意不打折扣</div>
				<div class="cservice-box-sub">“花”点时间说爱ta</div>
				<span class="cservice-box-close">✕</span>
			</div>
			<div class="cservice-box-btns">
				<span class="cservice-box-btn1">选花咨询</span>
				<span class="cservice-box-btn2">特价鲜花</span>
			</div>
			<div class="arrow-right"></div>
		</a>
		-->
	</div>
	<ul>
		<li class="cart ">
			<a href="index3.html" title="购物车">
				<i class="icon-rside icon-cart2"></i>
				<span class="icon-scar-num">0</span>
			</a>
		</li>
		<li class="ibut favorite ">
			<a href="index85.html" title="收藏鲜花">
				<i class="icon-rside icon-favorite"></i>
			</a>
			<div class="rsidepop">
				<a href="index85.html">
					收藏鲜花
				</a>
			</div>
		</li>
		<li class="ibut history ">
			<a href="javascript:;" title="历史记录">
				<i class="icon-rside icon-history"></i>
			</a>
		</li>
		<li class="ibut qrcode ">
			<a href="javascript:;" title="关注微信公众号">
				<i class="icon-rside icon-qrcode"></i>
			</a>
			<div class="rsidepop">
				<div class="fqrcode tc">
					<p class="note">回复“礼物”有惊喜！" 活动多多，在鲜家遇见幸福</p>
					<p class="img">
						<img src="static/picture/r_code.png" width="128" height="130">
					</p>
					<p class="gzh">公众号</p>
				</div>
			</div>
		</li>
		<li class="ibut expanded iconbounce">
			<a href="javascript:;" onclick="$(function () {$('html').animate({ scrollTop: 0 }, 500);$('body').animate({scrollTop: 0}, 500);})" title="顶部">
			<i class="icon-rside icon-expanded"></i>顶部</a>
		</li>
	</ul>
</div>

	<script language="javascript" src="static/js/js.js"></script>
</body>
</html>