<!DOCTYPE html>
<html>
<head>
    <title>鲜花网店_鲜花速递网_网上异地送花_鲜家网!</title>
    <meta name="keywords" content="鲜花,鲜花网,鲜花速递,鲜花预定,附近鲜花,鲜家网">
    <meta name="description" content="鲜家网，这里你能接触到精致生活资讯，品位艺术先人一步，收获新鲜幸福。鲜家网（xian.com）专注鲜花速递服务，引领花艺潮流，支持24小时网上定花送花，快至1小时免费送花上门，个性鲜花礼品定制，传递爱与温情！">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" type="text/css" href="static/css/animation.css">
<link rel="stylesheet" type="text/css" href="static/css/common.css">
<link rel="stylesheet" type="text/css" href="static/css/base.css">

<script src="static/js/jquery-1.7.2.min.js"></script>
<script src="static/js/banner.js"></script>
<script src="static/js/lazyload.js"></script>
<script src="static/js/cutdown.js"></script>

<script type="text/javascript" src="static/js/jquery.showDialog.js"></script>
<link href="static/css/showDialog.css" rel="stylesheet" type="text/css">

<script src="static/js/app.min.js"></script>
<script src="static/js/common.js"></script>
<script type="text/javascript">app.uri='';app.root='//www.xian.com';</script>
	<meta name="360-site-verification" content="">
	<meta name="baidu-site-verification" content="jQU76pPXNb">
	<meta property="qc:admins" content="">
</head>
<body>

	
<div class="dlwrap">
	<div class="dl-header">
		<div class="pw1200 clearfix">
			<p class="left c555">
				商务 024-31128100 <span>全国订购热线</span> <b class="ft14 cdd9">400-888-1571</b>
			</p>
			<p class="right">
				<a href="javascript:void(0);" onclick="openChat();">联系客服</a>
				<a href="index1.html">我的订单</a>
				<a href="index2.html">登录/注册</a>
				<a href="index3.html" class="dlcar">购物车(<b class="icon-scar-num">0</b>)</a>
			</p>
		</div>
	</div>
	<!--搜索-->
	<div class="pw1200 clearfix dl-logo">
		<a href="" title="收藏鲜花网" class="left">
			<img src="static/picture/dl-xian-logo.jpg" alt="">
		</a>		
		<div class="left dl-search">
			<form action="//www.xian.com/s.html" method="get" name="search">
				<input type="hidden" name="o" value="0">
				<p class="clearfix dl-search-box">
					<input type="text" class="dl-search-input" name="q" placeholder="请输入关键词搜索" autocomplete="off" value="">
					<button type="submit" class="dl-search-btn" onclick="if($('.dl-search-input').val()=='') return false;">搜索</button>
				</p>
			</form>
		</div>		
		<p class="right">
			<span>全国1小时达</span>
			<span>低价折扣</span>
			<span onclick="openChat();" class="dl-server">退赔服务</span>
		</p>		
	</div>
	<!--导航-->
	<div class="pw1200 clearfix dl-nav">
		<div class="dl-sub">
			<a href="javascript:void(0);" class="dlbtn">鲜花导购</a>
			<div class="dl-sub-dd">
				
				<div>
					<h6>鲜花用途</h6>
					<p>
						<a href="index4.html">爱情鲜花</a><a href="index5.html">生日鲜花</a><a href="index6.html">友情鲜花</a><a href="index7.html">周年纪念</a><a href="index8.html">婚庆鲜花</a><a href="index9.html">祝贺鲜花</a>
					</p>
				</div>

				
				<div>
					<h6>鲜花花材</h6>
					<p>
						<a href="index10.html">玫瑰花</a><a href="index11.html">康乃馨</a><a href="index12.html">百合花</a><a href="index13.html">向日葵</a><a href="index14.html">紫罗兰</a><a href="index15.html">满天星</a>
					</p>
				</div>

				
				<div>
					<h6>鲜花类别</h6>
					<p>
						<a href="index16.html">日常花束</a><a href="index17.html">创意花盒</a><a href="index18.html">韩式花束</a><a href="index19.html">手提花篮</a><a href="index20.html">开业花篮</a><a href="index21.html">会议桌花</a>
					</p>
				</div>

				
				<div class="dl-last">
					<h6>价格筛选</h6>
					<p>
						<a href="index22.html">150元以内</a><a href="index23.html">150-199元</a><a href="index24.html">200-249元</a><a href="index25.html">250-399元</a><a href="index26.html">400-499元</a><a href="index27.html">500-599元</a><a href="index28.html">600-699元</a><a href="index29.html">700元以上</a>
					</p>
				</div>
			</div>
		</div>
		<a href="" class="active">首页</a>
		<a href="index30.html">鲜花</a>
		<a href="index31.html">永生花</a>
		<a href="index32.html">礼品</a>
		<a href="index33.html">每周一花</a>
		<a href="index34.html">花语</a>
		<a href="index35.html">企业团购</a>
	</div>	
</div>

	<!-- banner 轮播图 -->
	
	<div class="banner">
		<div class="slider">
			
			<div><a href="45744.html"><img style="background-image: url(static/image/256a4_1183f.jpg);" data-lazy="static/image/256a4_1183f.jpg" alt=""></a></div>
			<div><a href="46422.html"><img style="background-image: url(static/image/25703_4596.jpg);" data-lazy="static/image/25703_4596.jpg" alt=""></a></div>
			<div><a href="45738.html"><img style="background-image: url(static/image/25d21_58a6.jpg);" data-lazy="static/image/25d21_58a6.jpg" alt=""></a></div>
		</div>
	</div>

	<!-- 秒杀 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title">今日疯抢</div>
			<div class="column-subtitle">凡今日下单均赠送价值300元优惠券！</div>
		</div>
		<div class="column-flower goods2">
			
				<div class="column-flower-item">
	<a href="45641.html">
		<div class="bq"><span>特价</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/1b3a4_a316.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-fbt">情意绵绵·9枝红玫瑰纯美花束</div>
			<div class="goods-info-price">¥128.00<span class="zj">直降170</span><!--<span class="kc">关注1665</span>--></div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45059.html">
		<div class="bq"><span>爆款</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/2612b_1752e.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-fbt">爱情密码·13枝红玫瑰纯美花束</div>
			<div class="goods-info-price">¥148.00<span class="zj">直降200</span><!--<span class="kc">关注4163</span>--></div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45741.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/17331_c84e.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-fbt">今生与你相伴·9枝红玫瑰韩式花束</div>
			<div class="goods-info-price">¥128.00<span class="zj">直降120</span><!--<span class="kc">关注3352</span>--></div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45738.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/1753a_53dd.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-fbt">一心一意·11枝红玫瑰韩式花束</div>
			<div class="goods-info-price">¥138.00<span class="zj">直降160</span><!--<span class="kc">关注3890</span>--></div>
		</div>
	</a>
</div>
			
		</div>
	</div>
	
	<!-- loveflow 爱情鲜花 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index4.html">爱情鲜花</a></div>
			<div class="column-subtitle">送·让你怦然心动的人</div>
			<div class="column-more">
				
				<a class="filter" href="index36.html" title="150元以内">150元以内</a>
				<a class="filter" href="index37.html" title="150-199元">150-199元</a>
				<a class="filter" href="index38.html" title="200-249元">200-249元</a>
				<a class="filter" href="index39.html" title="250-399元">250-399元</a>
				<a class="filter" href="index40.html" title="400-499元">400-499元</a>
				<a class="filter" href="index41.html" title="500-599元">500-599元</a>
				<a class="filter" href="index42.html" title="600-699元">600-699元</a>
				<a class="filter" href="index43.html" title="700元以上">700元以上</a>
				<a href="index4.html">查看更多></a>
			</div>
		</div>
		<div class="column-flower column-content">
			<div class="column-banner"><a href="index4.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/loveflow.png" alt=""></a></div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="45647.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/19c9e_34ec.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">携手未来·11枝香槟玫瑰纯美花束</div>
			<div class="goods-info-price">
				¥138.00
			    <span class="scj">原价 ¥318.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1700</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45049.html">
		<div class="bq"><span>爆款</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/273cb_eafb.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">把心交给我·19枝红玫瑰纯美花束</div>
			<div class="goods-info-price">
				¥168.00
			    <span class="scj">原价 ¥385.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1193</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="44877.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/298ea_29d4.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">撩动我的心·33枝粉玫瑰纯美花束</div>
			<div class="goods-info-price">
				¥318.00
			    <span class="scj">原价 ¥458.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 839</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="44678.html">
		<div class="bq"><span>爆款</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/29c71_56ec.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">爱你久久·99枝红玫瑰纯美花束</div>
			<div class="goods-info-price">
				¥498.00
			    <span class="scj">原价 ¥720.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1386</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45736.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/176b9_8d4c.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">因你而幸福·9枝戴安娜粉玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥128.00
			    <span class="scj">原价 ¥268.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1113</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46423.html">
		<div class="bq"><span>推荐</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b6b4_a991.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">为你倾心·11枝红玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥138.00
			    <span class="scj">原价 ¥298.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 392</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46029.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/1465d_832e.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">真心喜欢你·19枝粉玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥218.00
			    <span class="scj">原价 ¥338.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 488</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46422.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b6cc_15dba.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">心动时刻·19枝红玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥218.00
			    <span class="scj">原价 ¥436.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 392</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>


	<!-- roselove 大牌鲜花 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index30.html">大牌轻奢</a></div>
			<div class="column-subtitle">礼·大牌轻奢送爱的人</div>
			<div class="column-more">
				
				<a class="filter" href="index22.html" title="150元以内">150元以内</a>
				<a class="filter" href="index23.html" title="150-199元">150-199元</a>
				<a class="filter" href="index24.html" title="200-249元">200-249元</a>
				<a class="filter" href="index25.html" title="250-399元">250-399元</a>
				<a class="filter" href="index26.html" title="400-499元">400-499元</a>
				<a class="filter" href="index27.html" title="500-599元">500-599元</a>
				<a class="filter" href="index28.html" title="600-699元">600-699元</a>
				<a class="filter" href="index29.html" title="700元以上">700元以上</a>
				<a href="index30.html">查看更多></a>
			</div>
		</div>
		<div class="column-flower column-content">
			<div class="column-banner"><a href="index30.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/roseloveflow.jpg" alt=""></a></div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="46417.html">
		<div class="bq"><span>推荐</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b78e_11255.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">深深吸引·11枝红玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥138.00
			    <span class="scj">原价 ¥298.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1328</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45743.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/16eef_1083d.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">一生牵挂·11枝香槟玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥168.00
			    <span class="scj">原价 ¥278.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 698</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45746.html">
		<div class="bq"><span>爆款</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">永远守护你·19枝苏醒玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥228.00
			    <span class="scj">原价 ¥298.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 898</span>
				<!--
				<span class="zk">8折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46074.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1c016_48e1.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">我的心中只有你·30枝红玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥198.00
			    <span class="scj">原价 ¥448.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1129</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45739.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/174cc_15367.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">至死不渝·33枝红玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥328.00
			    <span class="scj">原价 ¥656.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 610</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45745.html">
		<div class="bq"><span>推荐</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/16e9b_5f4d.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">不变的爱·21枝苏醒粉玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥198.00
			    <span class="scj">原价 ¥298.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 483</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46040.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/142dd_f0a8.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">用爱包围你·6枝粉佳人韩式花束</div>
			<div class="goods-info-price">
				¥168.00
			    <span class="scj">原价 ¥438.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1154</span>
				<!--
				<span class="zk">4折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45744.html">
		<div class="bq"><span>热销</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/16edd_bc2e.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">把你放在心上·19枝红玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥158.00
			    <span class="scj">原价 ¥316.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 673</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>

	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index17.html">创意花盒</a></div>
			<div class="column-subtitle">赠·朋友/老板/上司</div>
			<div class="column-more">
				
				<a class="filter" href="index44.html" title="150元以内">150元以内</a>
				<a class="filter" href="index45.html" title="150-199元">150-199元</a>
				<a class="filter" href="index46.html" title="200-249元">200-249元</a>
				<a class="filter" href="index47.html" title="250-399元">250-399元</a>
				<a class="filter" href="index48.html" title="400-499元">400-499元</a>
				<a class="filter" href="index49.html" title="500-599元">500-599元</a>
				<a class="filter" href="index50.html" title="600-699元">600-699元</a>
				<a class="filter" href="index51.html" title="700元以上">700元以上</a>
				<a href="index17.html">查看更多></a></div>
		</div>
		<div class="column-flower column-content">
			<div class="column-banner"><a href="index17.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/cyhh.jpg" alt=""></a></div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="44868.html">
		<div class="bq"><span>热销</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/29a30_16055.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">携手白头·33枝红玫瑰枪炮礼盒</div>
			<div class="goods-info-price">
				¥348.00
			    <span class="scj">原价 ¥558.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 821</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="44883.html">
		<div class="bq"><span>推荐</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/285bd_16d1f.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">爱你在心底·21枝玫瑰枪炮礼盒</div>
			<div class="goods-info-price">
				¥268.00
			    <span class="scj">原价 ¥658.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 346</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45216.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/1bddd_2a2c.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">想你每一刻·25枝粉玫瑰枪炮礼盒</div>
			<div class="goods-info-price">
				¥358.00
			    <span class="scj">原价 ¥628.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 610</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46538.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b3a0_15b05.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">我们的故事·33枝蓝色妖姬枪炮礼盒</div>
			<div class="goods-info-price">
				¥398.00
			    <span class="scj">原价 ¥658.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 502</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46527.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b4c6_f121.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">全部的爱·19枝香槟玫瑰枪炮礼盒</div>
			<div class="goods-info-price">
				¥268.00
			    <span class="scj">原价 ¥398.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 1235</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46523.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b4e3_131f9.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">请接受我的爱·19枝红玫瑰枪炮礼盒</div>
			<div class="goods-info-price">
				¥268.00
			    <span class="scj">原价 ¥398.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 628</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47051.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/19dcb_7224.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">愿得一心人·11枝红玫瑰枪炮礼盒</div>
			<div class="goods-info-price">
				¥198.00
			    <span class="scj">原价 ¥298.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 626</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47049.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1adbc_9c8b.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">白头不相离·11枝红玫瑰枪炮礼盒</div>
			<div class="goods-info-price">
				¥298.00
			    <span class="scj">原价 ¥198.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 714</span>
				<!--
				<span class="zk">16折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>

	<!-- elderflow 送长辈花 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index52.html">送长辈鲜花</a></div>
			<div class="column-subtitle">赠·父母/恩师/长辈</div>
			<div class="column-more">
				
				<a class="filter" href="index53.html" title="150元以内">150元以内</a>
				<a class="filter" href="index54.html" title="150-199元">150-199元</a>
				<a class="filter" href="index55.html" title="200-249元">200-249元</a>
				<a class="filter" href="index56.html" title="250-399元">250-399元</a>
				<a class="filter" href="index57.html" title="400-499元">400-499元</a>
				<a class="filter" href="index58.html" title="500-599元">500-599元</a>
				<a class="filter" href="index59.html" title="600-699元">600-699元</a>
				<a class="filter" href="index60.html" title="700元以上">700元以上</a>
				<a href="index52.html">查看更多></a></div>
		</div>
		<div class="column-flower column-content">
			<div class="column-banner"><a href="index52.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/elderflow.png" alt=""></a></div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="46331.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b925_17bc9.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">温暖怀抱·33枝混色康乃馨抱抱桶</div>
			<div class="goods-info-price">
				¥318.00
			    <span class="scj">原价 ¥428.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 727</span>
				<!--
				<span class="zk">8折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46333.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1b913_b132.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">温馨时光·52枝粉色康乃馨抱抱桶</div>
			<div class="goods-info-price">
				¥488.00
			    <span class="scj">原价 ¥538.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 296</span>
				<!--
				<span class="zk">9折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45913.html">
		<div class="bq"><span>爆款</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/28/2c3f3_2793.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">馨馨念念</div>
			<div class="goods-info-price">
				¥268.00
			    <span class="scj">原价 ¥568.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 91</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45923.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/14d5c_9152.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">冷艳迷人</div>
			<div class="goods-info-price">
				¥308.00
			    <span class="scj">原价 ¥368.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 488</span>
				<!--
				<span class="zk">9折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45748.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/16cfc_dc7c.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">平凡而伟大·14枝康乃馨韩式花束</div>
			<div class="goods-info-price">
				¥168.00
			    <span class="scj">原价 ¥248.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 496</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45758.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/16798_83a4.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">心的牵挂·66枝玫瑰韩式花束</div>
			<div class="goods-info-price">
				¥428.00
			    <span class="scj">原价 ¥588.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 478</span>
				<!--
				<span class="zk">8折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45750.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/16a9f_725e.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">幸福的依赖·15枝康乃馨韩式花束</div>
			<div class="goods-info-price">
				¥198.00
			    <span class="scj">原价 ¥308.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 390</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45751.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/169c0_16ec3.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">恩德如山·12枝红色康乃馨韩式花束</div>
			<div class="goods-info-price">
				¥168.00
			    <span class="scj">原价 ¥278.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 375</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>

	<!-- immortalflow 商务鲜花 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index61.html">商务鲜花</a></div>
			<div class="column-subtitle">给她·美好的礼物</div>
			<div class="column-more">
				
				<a class="filter" href="index62.html" title="150元以内">150元以内</a>
				<a class="filter" href="index63.html" title="150-199元">150-199元</a>
				<a class="filter" href="index64.html" title="200-249元">200-249元</a>
				<a class="filter" href="index65.html" title="250-399元">250-399元</a>
				<a class="filter" href="index66.html" title="400-499元">400-499元</a>
				<a class="filter" href="index67.html" title="500-599元">500-599元</a>
				<a class="filter" href="index68.html" title="600-699元">600-699元</a>
				<a class="filter" href="index69.html" title="700元以上">700元以上</a>
				<a href="index61.html">查看更多></a></div>
		</div>
		<div class="column-flower column-content">
			<div class="column-banner"><a href="index61.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/immortalflow.jpg" alt=""></a></div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="45893.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/1653a_e41a.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">好运常在开业花篮</div>
			<div class="goods-info-price">
				¥458.00
			    <span class="scj">原价 ¥699.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 278</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46296.html">
		<div class="bq"><span>热销</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1bbd7_2ca1.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">喜笑颜开开业花篮</div>
			<div class="goods-info-price">
				¥588.00
			    <span class="scj">原价 ¥688.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 510</span>
				<!--
				<span class="zk">9折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46299.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1bb12_12901.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">六六大顺气球开业花篮</div>
			<div class="goods-info-price">
				¥498.00
			    <span class="scj">原价 ¥598.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 406</span>
				<!--
				<span class="zk">9折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="46284.html">
		<div class="bq"><span>推荐</span></div>
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/13/1be89_52c0.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">大丰收开业花篮</div>
			<div class="goods-info-price">
				¥688.00
			    <span class="scj">原价 ¥788.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 570</span>
				<!--
				<span class="zk">9折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45720.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/188a9_129e5.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">热情洋溢会议桌花系列</div>
			<div class="goods-info-price">
				¥368.00
			    <span class="scj">原价 ¥558.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 126</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45718.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/18981_17c3d.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">兴致勃勃会议桌花系列</div>
			<div class="goods-info-price">
				¥328.00
			    <span class="scj">原价 ¥428.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 131</span>
				<!--
				<span class="zk">8折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45716.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/18a3a_1474a.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">隆重热烈会议桌花</div>
			<div class="goods-info-price">
				¥328.00
			    <span class="scj">原价 ¥428.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 163</span>
				<!--
				<span class="zk">8折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45698.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-06/14/18daa_11c8c.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">奢华阳光讲台花</div>
			<div class="goods-info-price">
				¥498.00
			    <span class="scj">原价 ¥598.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 75</span>
				<!--
				<span class="zk">9折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>

	

	<!-- immortalflow 永生花 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index31.html">永生花</a></div>
			<div class="column-subtitle">给她·美好的礼物</div>
			<div class="column-more">
				
				<a class="filter" href="index70.html" title="100-199元">100-199元</a>
				<a class="filter" href="index71.html" title="200-299元">200-299元</a>
				<a class="filter" href="index72.html" title="300-399元">300-399元</a>
				<a class="filter" href="index73.html" title="400-499元">400-499元</a>
				<a class="filter" href="index74.html" title="500-599元">500-599元</a>
				<a class="filter" href="index75.html" title="600-699元">600-699元</a>
				<a class="filter" href="index76.html" title="700元以上">700元以上</a>
				<a href="index31.html">查看更多></a></div>
		</div>
		<div class="column-flower column-content">
			<div class="column-banner"><a href="index31.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/immortalflow.png" alt=""></a></div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="47705.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/2a3dc_fcf9.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove永生玫瑰星座礼盒-双鱼座</div>
			<div class="goods-info-price">
				¥299.00
			    <span class="scj">原价 ¥599.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 84</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47723.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/2c6f6_428f.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove永生玫瑰星座礼盒-白羊座</div>
			<div class="goods-info-price">
				¥299.00
			    <span class="scj">原价 ¥599.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 154</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47713.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/2ada7_91bd.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove永生花星座守护色-巨蟹座</div>
			<div class="goods-info-price">
				¥299.00
			    <span class="scj">原价 ¥599.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 73</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47703.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/2a0c5_13b20.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove永生花星座守护色-双子座</div>
			<div class="goods-info-price">
				¥299.00
			    <span class="scj">原价 ¥599.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 309</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47697.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/2880d_4451.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove经典永生花大型音乐球七彩</div>
			<div class="goods-info-price">
				¥499.00
			    <span class="scj">原价 ¥999.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 320</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47694.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/27c1d_fcba.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove经典永生花大型音乐球红色</div>
			<div class="goods-info-price">
				¥499.00
			    <span class="scj">原价 ¥999.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 317</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47693.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/279a0_aea7.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove经典永生花大型音乐球红粉</div>
			<div class="goods-info-price">
				¥499.00
			    <span class="scj">原价 ¥999.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 364</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="47696.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2019-02/22/27ed0_7a9b.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">Roselove经典永生花大型音乐球魅紫</div>
			<div class="goods-info-price">
				¥499.00
			    <span class="scj">原价 ¥999.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 315</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>

	<!-- gift 礼品 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index32.html">礼品</a></div>
			<div class="column-subtitle">给她·美好的礼物</div>
			<div class="column-more">
				
				<a class="filter" href="index77.html" title="120元以下">120元以下</a>
				<a class="filter" href="index78.html" title="120-180元">120-180元</a>
				<a class="filter" href="index79.html" title="180-300元">180-300元</a>
				<a class="filter" href="index80.html" title="300-500元">300-500元</a>
				<a class="filter" href="index81.html" title="500元以上">500元以上</a>
				<a href="index32.html">查看更多></a></div>
		</div>
		<div class="column-content gift">
			<div class="column-content-item column-banner gift-header">
				<div class="gift-header-l">
					<div class="gift-header-ad"><a href="index32.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/gift.png" alt=""></a></div>
					<div class="gift-header-item">
						<a class="iconbounce" href="index32.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/gift_item_01.png" alt=""><span>生日礼物</span></a>
						<a class="iconbounce" href="index32.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/gift_item_02.png" alt=""><span>约会/求爱</span></a>
						<a class="iconbounce" href="index82.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/gift_item_03.png" alt=""><span>结婚礼品</span></a>
						<a class="iconbounce" href="index32.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/gift_item_04.png" alt=""><span>感谢/祝福</span></a>
						<a class="iconbounce" href="index32.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/gift_item_01.png" alt=""><span>拜访/探望</span></a>
						<a class="iconbounce" href="index32.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/gift_item_02.png" alt=""><span>纪念日礼物</span></a>
					</div>
				</div>
				<div class="gift-header-r column-flower">
					
						<div class="column-flower-item">
	<a href="45392.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-10/18/2cc0d_95d0.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">幸福的约定水晶音乐球</div>
			<div class="goods-info-price">
				¥318.00
			    <span class="scj">原价 ¥768.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 14</span>
				<!--
				<span class="zk">4折</span>
				-->
			</div>
		</div>
	</a>
</div>
					
						<div class="column-flower-item">
	<a href="45401.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-10/18/2cafc_97ac.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">下雪啦音乐玻璃球</div>
			<div class="goods-info-price">
				¥520.00
			    <span class="scj">原价 ¥858.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 20</span>
				<!--
				<span class="zk">3折</span>
				-->
			</div>
		</div>
	</a>
</div>
					
				</div>
			</div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="45835.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-10/18/27f93_db54.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">一心一意简约个性项链</div>
			<div class="goods-info-price">
				¥228.00
			    <span class="scj">原价 ¥628.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 157</span>
				<!--
				<span class="zk">4折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45774.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-10/18/298d9_a295.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">永结同心满钻情侣对戒</div>
			<div class="goods-info-price">
				¥228.00
			    <span class="scj">原价 ¥362.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 76</span>
				<!--
				<span class="zk">5折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45572.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-10/18/29b32_15001.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">六芒星镶钻简约纯银手链</div>
			<div class="goods-info-price">
				¥128.00
			    <span class="scj">原价 ¥281.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 77</span>
				<!--
				<span class="zk">4折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45770.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-10/18/2993e_1190a.png" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">简约创意DIY珍珠套链</div>
			<div class="goods-info-price">
				¥188.00
			    <span class="scj">原价 ¥346.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 51</span>
				<!--
				<span class="zk">4折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>

	<!-- weekflow 每周一花 -->
	
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index33.html">每周一花</a></div>
			<div class="column-subtitle">悦人不如悦己</div>
			<div class="column-more"><a href="index33.html">查看更多></a></div>
		</div>
		<div class="column-flower column-content">
			<div class="column-banner"><a href="index33.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/weekflow.png" alt=""></a></div>
		</div>
		<div class="column-flower">
			
				<div class="column-flower-item">
	<a href="45285.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-07/13/25ce8_c799.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">每周一花系列单品版</div>
			<div class="goods-info-price">
				¥148.00
			    <span class="scj">原价 ¥256.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 783</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45342.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-07/14/203c0_8417.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">每周一花系列双拼版</div>
			<div class="goods-info-price">
				¥238.00
			    <span class="scj">原价 ¥348.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 797</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45343.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-08/01/1b2ea_cca6.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">每周一花系列轻奢版</div>
			<div class="goods-info-price">
				¥298.00
			    <span class="scj">原价 ¥498.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 408</span>
				<!--
				<span class="zk">6折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
				<div class="column-flower-item">
	<a href="45341.html">
		
		<div class="hover"><img data-lazy="//www.xian.com/upload/image/2018-07/14/1dcfa_eaf5.jpg" alt="" style="max-width: 279px; max-height: 279px;"></div>
		<div class="goods-info">
			<div class="goods-info-title">每周一花系列混搭版</div>
			<div class="goods-info-price">
				¥198.00
			    <span class="scj">原价 ¥298.00</span>
			</div>
			<div class="goods-info-span">
				
				<span class="rq">已售 775</span>
				<!--
				<span class="zk">7折</span>
				-->
			</div>
		</div>
	</a>
</div>
			
		</div>
	</div>

	<!-- recommend 推荐 -->
	<div class="wrap">
		<div class="column">
			<div class="column-title"><a href="index30.html">编辑推荐</a></div>
			<div class="column-subtitle">囊括美好的鲜花</div>
			<div class="column-more"><a href="index30.html">查看更多></a></div>
		</div>
		<div class="column-content recommend">
	<div class="column-content-item hover"><a href="index30.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/recommend_01.png" alt=""></a></div>
	<div class="column-content-item hover"><a href="index30.html"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/recommend_02.png" alt=""></a></div>
	<div class="recommend-item">
		<a href="index30.html" class="hover"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/recommend_03.png" alt="" class="hover recommend-item01"></a>
		<a href="index33.html" class="hover"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/recommend_04.png" alt="" class="hover"></a>
	</div>
	<div class="clear"></div>
</div>
	</div>

	<!-- feature 特色 -->
	<div class="wrap">
		<div class="feature">
			<a href="index83.html" class="hover"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/feature_01.png" alt="" class="hover" width="277" height="132"></a>
			<a href="index83.html" class="hover"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/feature_02.png" alt="" class="hover" width="277" height="132"></a>
			<a href="index83.html" class="hover"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/feature_03.png" alt="" class="hover" width="277" height="132"></a>
			<a href="index83.html" class="hover"><img data-lazy="//www.xian.com/theme/xian.com/default/static/img/temp/feature_04.png" alt="" class="hover last_child" width="277" height="132"></a>
		</div>
	</div>

	<div class="wrap">
	<div class="links-box">
		<div class="box-bar">鲜家网友情链接</div>
		<div class="box-con">
			<ul class="clearfix">
				
				<li><a href="javascript:;" target="_blank">好花网</a></li>
				<li><a href="javascript:;" target="_blank">日本雅虎</a></li>
				<li><a href="javascript:;" target="_blank">星座网</a></li>
				<li><a href="javascript:;" target="_blank">男装搭配</a></li>
				<li><a href="javascript:;" target="_blank">相亲</a></li>
			</ul>
		</div>
	</div>
	<div class="h10"></div>
</div>

	<div class="footer ">
	<div class="wrap">
		<div class=" footer-items">
			<div class="footer-item footer-link bdsharebuttonbox">
				<a class="hover footer-link-wx" href="javascript:;" data-cmd="weixin"></a>
				<a class="hover footer-link-qq" href="javascript:;" data-cmd="qzone"></a>
				<a class="hover footer-link-wb" href="javascript:;" data-cmd="tsina"></a>
				<p>Copyright © 2018 鲜家 All rights reserved.<br>Powered by Bo Wen Technology Co., Ltd.<br>工信部备：辽ICP备18014953号-2<br>公安部备：21010202000602</p>
			</div>
			<div class="footer-item r_code">
				<img data-lazy="//www.xian.com/theme/xian.com/default/static/img/r_code.png" alt="">
				<p>微信关注鲜家，立享优惠</p>
				<script type="text/javascript" src="static/js/mobile.js"></script>
			</div>
			<div class="footer-item footer-others">
				<div class="footer-other">
					<div class="footer-other-link">
						<span><a href="210.html">售后服务</a></span>
						<span><a href="index84.html">同城鲜花</a></span>
						<span><a href="200.html">关于我们</a></span>
					</div>
					<div class="footer-other-tel">全国订购热线:<span>400-888-1571</span></div>
					<div class="footer-other-tel">商务合作热线:<span>024-31128100</span></div>
					<div class="footer-other-customs">
						<a class="hover" href="javascript:;" onclick="openChat();">在线客服</a>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>

<script type="text/javascript" src="static/js/leyu.js"></script>
<script type="text/javascript" src="static/js/tongji.js"></script>
	<div class="rside">
	<div class="ibut cservice ">
		<a href="javascript:;" onclick="openChat();" title="鲜家顾问" class="cservice-avator">
			<p>鲜家顾问</p>
			<p>竭诚为您服务</p>
		</a>
		<!--
		<a class="cservice-box" href="javascript:;" onclick="openChat();">
			<div class="cservice-box-content">
				<div class="cservice-box-title">甄选优质鲜花，心意不打折扣</div>
				<div class="cservice-box-sub">“花”点时间说爱ta</div>
				<span class="cservice-box-close">✕</span>
			</div>
			<div class="cservice-box-btns">
				<span class="cservice-box-btn1">选花咨询</span>
				<span class="cservice-box-btn2">特价鲜花</span>
			</div>
			<div class="arrow-right"></div>
		</a>
		-->
	</div>
	<ul>
		<li class="cart ">
			<a href="index3.html" title="购物车">
				<i class="icon-rside icon-cart2"></i>
				<span class="icon-scar-num">0</span>
			</a>
		</li>
		<li class="ibut favorite ">
			<a href="index85.html" title="收藏鲜花">
				<i class="icon-rside icon-favorite"></i>
			</a>
			<div class="rsidepop">
				<a href="index85.html">
					收藏鲜花
				</a>
			</div>
		</li>
		<li class="ibut history ">
			<a href="javascript:;" title="历史记录">
				<i class="icon-rside icon-history"></i>
			</a>
		</li>
		<li class="ibut qrcode ">
			<a href="javascript:;" title="关注微信公众号">
				<i class="icon-rside icon-qrcode"></i>
			</a>
			<div class="rsidepop">
				<div class="fqrcode tc">
					<p class="note">回复“礼物”有惊喜！" 活动多多，在鲜家遇见幸福</p>
					<p class="img">
						<img src="static/picture/r_code.png" width="128" height="130">
					</p>
					<p class="gzh">公众号</p>
				</div>
			</div>
		</li>
		<li class="ibut expanded iconbounce">
			<a href="javascript:;" onclick="$(function () {$('html').animate({ scrollTop: 0 }, 500);$('body').animate({scrollTop: 0}, 500);})" title="顶部">
			<i class="icon-rside icon-expanded"></i>顶部</a>
		</li>
	</ul>
</div>
</body>
</html>