<!DOCTYPE html>
<html>
<head>
	<title>永远守护你·19枝苏醒玫瑰韩式花束_鲜花速递_鲜家网</title>
	<meta name="keywords" content="玫瑰 鲜花 浓情 粉色,鲜花速递,网上订花">
	<meta name="description" content="永远守护你·19枝苏醒玫瑰韩式花束, 精选白色雪梨纸5张，黑白竖条纹蝴蝶结, 非常适合送客户、送亲人、送朋友、送恋人、送病人、送长辈、送老师、等。鲜家网, 原创设计数百款经典花束，引领花艺潮流，支持24小时网上定花送花，快至1小时免费送花上门，个性鲜花礼品定制，传递爱与温情。">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" type="text/css" href="static/css/animation.css">
<link rel="stylesheet" type="text/css" href="static/css/common.css">
<link rel="stylesheet" type="text/css" href="static/css/base.css">

<script src="static/js/jquery-1.7.2.min.js"></script>
<script src="static/js/banner.js"></script>
<script src="static/js/lazyload.js"></script>
<script src="static/js/cutdown.js"></script>

<script type="text/javascript" src="static/js/jquery.showDialog.js"></script>
<link href="static/css/showDialog.css" rel="stylesheet" type="text/css">

<script src="static/js/app.min.js"></script>
<script src="static/js/common.js"></script>
<script type="text/javascript">app.uri='';app.root='//www.xian.com';</script>
</head>
<body>
	
<div class="topper">
	<div class="wrap">
		<div class="h-left">
			<a href="javascript:;" title="收藏鲜花网"><img src="static/picture/logo.png" src="//www.xian.com/theme/xian.com/default/static/img/logo.png" width="200" height="90"></a>
		</div>
		<div class="h-right">
			<a href="index.html">首页</a>
			<a href="index30.html" class="active">鲜花</a>
			<a href="index31.html">永生花</a>
			<a href="index32.html">礼品</a>
			<a href="index33.html">每周一花</a>
			<a href="index34.html">花语</a>
			<a href="index35.html">企业团购</a>
			<span class="search">
				<form action="//www.xian.com/s.html" method="get" name="search">
					<input type="hidden" name="o" value="0">
					<div class="search-frame">
						<input type="text" class="q" name="q" placeholder="请输入关键词搜索" autocomplete="off" value="">
						<button type="submit" class="s" onclick="if($('.q').val()=='') return false;"><i class="icon icon-search iconbounce"></i></button>
					</div>
				</form>
			</span>
			<a class="nb" href="index3.html"><span class="shopcar iconbounce"><i class="icon icon-cart"></i><i class="icon-scar-num">0</i></span></a>
			<span class="shop-other iconbounce"> <i class="icon icon-me"></i> </span>
			<div class="h-me-select" style="display: none;">
				<div class="arrow-up"></div>
				<ul>
					<li class="i_1 login"><a href="index2.html"><i class="i"></i>登录/注册</a></li>
					<li class="i_2"><a href="index1.html"><i class="i"></i>我的鲜家</a></li>
					<li class="i_3"><a href="index85.html"><i class="i"></i>我的收藏</a></li>
					<li class="i_4"><a href="javascript:;" onclick="openChat();"><i class="i"></i>联系客服</a></li>
					<li class="i_5"><a href="index33.html"><i class="i"></i>帮助中心</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="h-list" style="display: none;">
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_10_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>用途</span><span>销售价</span><span>花材</span><span>枝数</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="index4.html">爱情鲜花</a>
					<a href="index5.html">生日鲜花</a>
					<a href="index6.html">友情鲜花</a>
					<a href="index7.html">周年纪念</a>
					<a href="index8.html">婚庆鲜花</a>
					<a href="index9.html">祝贺鲜花</a>
					<a href="javascript:;">探病慰问</a>
					<a href="index52.html">问候长辈</a>
					<a href="javascript:;">商务鲜花</a>
					<a href="javascript:;">道歉鲜花</a>
				</span>
				<span>
					
					<a href="index22.html">150元以内</a>
					<a href="index23.html">150-199元</a>
					<a href="index24.html">200-249元</a>
					<a href="index25.html">250-399元</a>
					<a href="index26.html">400-499元</a>
					<a href="index27.html">500-599元</a>
					<a href="index28.html">600-699元</a>
					<a href="index29.html">700元以上</a>
				</span>
				<span>
					
					<a href="index10.html">玫瑰花</a>
					<a href="index11.html">康乃馨</a>
					<a href="index12.html">百合花</a>
					<a href="index13.html">向日葵</a>
					<a href="index14.html">紫罗兰</a>
					<a href="index15.html">满天星</a>
				</span>
				<span>
					
					<a href="javascript:;">6枝</a>
					<a href="javascript:;">8枝</a>
					<a href="javascript:;">9枝</a>
					<a href="javascript:;">11枝</a>
					<a href="javascript:;">12枝</a>
					<a href="javascript:;">13枝</a>
					<a href="javascript:;">15枝</a>
					<a href="javascript:;">16枝</a>
					<a href="javascript:;">19枝</a>
					<a href="javascript:;">21枝</a>
					<a href="javascript:;">25枝</a>
					<a href="javascript:;">29枝</a>
					<a href="javascript:;">33枝</a>
					<a href="javascript:;">66枝</a>
					<a href="javascript:;">99枝以上</a>
				</span>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_11_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>类别</span><span>用途</span><span>销售价</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="javascript:;">经典花盒</a>
					<a href="javascript:;">永生瓶花</a>
					<a href="javascript:;">巨型玫瑰</a>
					<a href="javascript:;">特色永生花</a>
					<a href="javascript:;">永生花公仔</a>
				</span>
				<span>
					
					<a href="javascript:;">送恋人爱人</a>
					<a href="javascript:;">送父母长辈</a>
					<a href="javascript:;">送朋友同事</a>
				</span>
				<span>
					
					<a href="index70.html">100-199元</a>
					<a href="index71.html">200-299元</a>
					<a href="index72.html">300-399元</a>
					<a href="index73.html">400-499元</a>
					<a href="index74.html">500-599元</a>
					<a href="index75.html">600-699元</a>
					<a href="index76.html">700元以上</a>
				</span>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_15_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>类别</span><span>用途</span><span>适合对象</span><span>销售价</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="javascript:;">首饰</a>
					<a href="javascript:;">音乐盒</a>
					<a href="javascript:;">香薰</a>
					<a href="javascript:;">公仔</a>
					<a href="javascript:;">创意摆件</a>
					<a href="javascript:;">巧克力</a>
					<a href="javascript:;">灯饰</a>
					<a href="javascript:;">水晶球</a>
					<a href="javascript:;">水杯</a>
					<a href="javascript:;">加湿器</a>
					<a href="javascript:;">按摩仪</a>
				</span>
				<span>
					
					<a href="javascript:;">生日礼品</a>
					<a href="javascript:;">约会礼品</a>
					<a href="index82.html">结婚礼品</a>
					<a href="javascript:;">祝福礼品</a>
					<a href="javascript:;">拜访礼品</a>
					<a href="javascript:;">纪念日礼品</a>
					<a href="javascript:;">乔迁礼品</a>
					<a href="javascript:;">家居礼品</a>
				</span>
				<span>
					
					<a href="javascript:;">送恋人</a>
					<a href="javascript:;">送朋友</a>
					<a href="javascript:;">送客户</a>
					<a href="javascript:;">送老师</a>
					<a href="javascript:;">送小孩</a>
					<a href="javascript:;">送领导</a>
					<a href="javascript:;">送长辈</a>
				</span>
				<span>
					
					<a href="index77.html">120元以下</a>
					<a href="index78.html">120-180元</a>
					<a href="index79.html">180-300元</a>
					<a href="index80.html">300-500元</a>
					<a href="index81.html">500元以上</a>
				</span>
			</div>
		</div>
	</div>
</div>

	<div class="wrap nav">
		<a href="index.html">鲜家首页</a><span>&gt;</span><a href="index30.html" title="鲜花">鲜花</a><span>&gt;</span>永远守护你·19枝苏醒玫瑰韩式花束
	</div>
	
	
<link href="static/css/jqzoom.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery.jqzoom.js"></script>
<script data-lazy="//www.xian.com/theme/xian.com/default/static/js/buy.js"></script>
<div class="wrap goods">
	<div class="wl470">
		<div class="shop-video-pic">
			<!---->
			<div class="shop-preview">
				<!---->
				
				<img src="static/picture/25cb4_c6bd.jpg" jqimg="//www.xian.com/upload/image/2019-06/18/25cb4_c6bd.jpg" width="468" height="468">
			</div>
		</div>
		<div class="shop-preview-item">
			<ul class="clearfix">
				
				<li class="active"><img src="static/picture/25cb4_c6bd.jpg" jqimg="//www.xian.com/upload/image/2019-06/18/25cb4_c6bd.jpg" width="100" height="100"></li>
				<li><img src="static/picture/25cb8_e3e9.jpg" jqimg="//www.xian.com/upload/image/2019-06/18/25cb8_e3e9.jpg" width="100" height="100"></li>
				<li><img src="static/picture/25cc5_10bd8.jpg" jqimg="//www.xian.com/upload/image/2019-06/18/25cc5_10bd8.jpg" width="100" height="100"></li>
				<li><img src="static/picture/25ccb_9442.jpg" jqimg="//www.xian.com/upload/image/2019-06/18/25ccb_9442.jpg" width="100" height="100"></li>
			</ul>
		</div>
	</div>
	<div class="wr670">
		<h3 class="shop-title">永远守护你·19枝苏醒玫瑰韩式花束</h3>
		<!--
		<h3 class="shop-title">|永远守护你·19枝苏醒玫瑰韩式花束<span>—&nbsp;</span></h3>
		<p class="shop-description">主要花材：19枝苏醒玫瑰，2枝粉色桔梗，白色雪梨纸5张，黑白竖条纹蝴蝶结</p>
		-->
		<div class="shop-info clearfix">
			<label class="shop-sell">¥<span class="sell-val">228.00</span></label>
			<label class="shop-market">原价<span class="market-val">298.00</span></label>
			<label class="shop-discount"><span class="discount-val">7.7折</span></label>
			<label class="shop-block">已售：<span>898</span></label>
			<label class="shop-block">评价评：<span>781</span></label>
			<label class="shop-block">人气：<span>2717</span></label>
		</div>
		<div class="shop-param showbq">
			<div class="bq"><span>七夕爆款</span></div>
			
			<ul class="clearfix">
				<li><label>主花材</label><a href="index10.html">玫瑰花</a> <a href="index30.html">桔梗</a> <a href="index30.html">22枝</a></li>
				<li><label>绿植工艺</label>鲜花(鲜切花)</li>
				<li><label>花束辅材</label>0.3扎小雏菊，0.2扎栀子叶，0.2扎水晶草</li>
				<li><label>花束包装</label>白色雪梨纸5张，黑白竖条纹蝴蝶结</li>
			</ul>
			
		</div>

		
		<div class="shop-label">
			<dl class="clearfix">
				<dt>相关标签</dt>
				<dd><a href="meigui.html" title="玫瑰">玫瑰</a></dd>
				<dd><a href="xianhua.html" title="鲜花">鲜花</a></dd>
				<dd><a href="nongqing.html" title="浓情">浓情</a></dd>
				<dd><a href="fense.html" title="粉色">粉色</a></dd>
				<dd><a href="javascript:;" class="more">更多+</a></dd>
			</dl>
		</div>

	

	

		<div class="shop-num">
			<dl class="clearfix">
				<dt>购买数量</dt>
				<dd><a href="javascript:;">-</a></dd>
				<dd><input type="text" name="goods_num" value="1" readonly=""></dd>
				<dd><a href="javascript:;">+</a></dd>
			
		</dl></div>

		<input name="goods_id" type="hidden" value="497">
		<input name="product_id" type="hidden" value="">
		<input name="product_key" type="hidden" value="">

		<div class="shop-but">
			
			<a class="buy cartBuy" href="javascript:;" data-url="//www.xian.com/shop/cart/buy/product/{id}/num/{num}/">立即抢购</a>

			<!--申请优惠
			<a class="buy butstip" href="javascript:;" onclick="openChat();return false;">
				<i></i><span>申请优惠</span>
				
				<div>每周限量10个名额，已申请<em>6</em>人，剩余<em>4</em></div>
			</a>
			-->

			<a class="cart cartAdd" href="javascript:;">加入购物车</a>
			

			<a class="" href="javascript:;" onclick="openChat();"><i class="icon-zx"></i>客服咨询</a>

		</div>

		<div class="shop-service">
			<div class="service-left">
				<div>本商品已加入<b>人保财险及时达保险计划</b></div>
				<p>延迟超过30分钟起赔，退50%购花款。超过2小时，全额退款。</p>
			</div>
			<div class="service-right">
				<span>价值5元<i class="icon-pk"></i><span>
			</span></span></div>
			<div class="clear"></div>
		</div>

	</div>
</div>

<script type="text/javascript">	
	
	//2019-11-01 00:00:00
	var now = new Date();
	now.setDate( now.getDate()+2 );
	var ts_end = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0, 0);
	function timer(){
		var ts = ts_end - (new Date());
		var dd = parseInt(ts / 1000 / 60 / 60 / 24, 10);
		var hh = parseInt(ts / 1000 / 60 / 60 % 24, 10);
		var mm = parseInt(ts / 1000 / 60 % 60, 10);
		var ss = parseInt(ts / 1000 % 60, 10);
		dd = checkTime(dd);
		hh = checkTime(hh);
		mm = checkTime(mm);
		ss = checkTime(ss);
		$('#xsth .h').html(hh);
		$('#xsth .m').html(mm);
		$('#xsth .s').html(ss);
	}

	function checkTime(i){  
		return  i < 10 ? "0" + i : i; 
	}

	$(function(){						
		setInterval("timer()", 1000);
	});
	

	var products = {"":{"id":"1494","product_sn":"GS153560069753","picture":"\/upload\/image\/2019-06\/14\/16db5_177be.jpg","spec_ids":"","spec":[],"store_nums":"127366","warning_line":"50","sell_nums":"73","market_price":"298.00","sell_price":"228.00","weight":"1800"}};
	$(function(){
		$(".goods .shop-specs ul li").click(function(){
			$(this).siblings().removeClass("active");
			$(this).addClass("active");

			var s = [];
			$('.goods .shop-specs ul').each(function(i,v){
				var value = $(v).find("li.active").data("value");
				if( value ) s.push(value);
			});
			var product_key = s.join(",");
			var product = products[ product_key ];
			if( product!=undefined ){
				$('.shop-preview img').attr('src', product['picture']).attr('jqimg', product['picture']);

				$(".goods .market-val").text(product['market_price']);
				$(".goods .sell-val").text(product['sell_price']);
				$(".goods .discount-val").text( Math.ceil(product['sell_price']/product['market_price']*100)/10 + '折' );
				$(".goods .store-val").text(product['store_nums']);

				$(".goods input[name=product_id]").val(product['id']);
				$(".goods input[name=product_key]").val(product_key);

				update_but(product['id'], false);
			}
		});

		//$(".shop-specs ul li:first").click();
		
			var product = products[""];
			if( product!=undefined ){
				$(".goods input[name=product_id]").val(product['id']);
				$(".goods input[name=product_key]").val('');
				update_but(product['id'], false);
			}
		

		$(".goods .shop-num dd a").click(function(){
			var v = $(this).text()=='-' ? -1 : 1;
			var store_nums = parseInt( $(".goods .store-val").text() );
			$(this).parent().parent().find("input[name=goods_num]").val(function(index,val){
				val = parseInt(val) + v;
				if( val < 1 )
					val = 1;
				if( val > store_nums )
					val = store_nums;

				update_but(false, val);
				return val;
			});
		});

		function update_but(product, num){
			var url = $('.goods .cartBuy').data('url');
			if( !product )
				product = $(".goods input[name=product_id]").val();
			if( !num )
				num = $(".goods input[name=goods_num]").val();
			url = url.replace('{id}', product).replace('{num}', num);
			$('.goods .cartBuy').attr('href', url);
		}

		$(".cartBuy").click(function(){
			if( $(".goods input[name=product_id]").val()=="" ){
				//app.tools.info('您还没有选择商品规格！');
				//return false;
				$(".shop-specs ul li:first").click();
			}

			//未登录
			//if( !app.login.status ){
			//	app.login.ajax();
			//	return false;
			//}
		});

		$(".goods .cartAdd").click(function(){
			var _this = this;
			//if( $(".goods input[name=product_id]").val()=="" ){
			//	app.tools.info('您还没有选择商品规格！');
			//	return false;
			//}

			var key = $(".goods input[name=product_key]").val();
			var product = products[ key ];
			if( $(".goods input[name=product_id]").val()=="" ){
				var s = [];
				$('.goods .shop-specs ul li:first').each(function(i,v){
					s.push( $(v).data("value") );
				});
				product = products[ s.join(",") ];
			}
			if( product===undefined ){
				app.tools.info('您还没有选择商品规格！');
				return false;
			}

			app.shop.cart.add(
				{
					goods_id: $('.goods input[name=goods_id').val(),
					product_id: product['id'], 
					goods_num:$('.goods input[name=goods_num').val()
				},
				function(result){
					if( result.status ){
						$('.rside .cart span').text(result.data.num);
						$(".shop-preview img:visible").clone().css({
							position: 'absolute',
							'z-index':'9998',
							width: 350,
							height: 465,
							border:'solid 1px #ccc',
							background:'#aaf',
							overflow:'hidden',
							background:'#fff'
						}).css( $(".shop-preview").offset() ).appendTo( $('body') ).animate({
							left : $('.rside .cart').offset().left,
							top : $('.rside .cart').offset().top,
							width : 10,
							height : 10,
							opacity : 0.8
						}, "slow",function(){$(this).remove();});

						showCartTip( '.shop-but' );

					}
				},
				function(){ 
					app.tools.info( '数据提交失败！' );
				}
			);
		});
	});
</script>

	<div class="wrap content">
		<div class="h20"></div>
		<div class="wl277">
			<!--



<div class="h25"></div>
<div class="box box-rxxh">
	<div class="box-bar"><p class="box-bar-title">热销鲜花</p></div>
	<div class="box-con">
		<ul>
			
			<li>
				<a class="imgbounce" href="/xianhua/45738.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/1753a_53dd.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>一心一意·11枝红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>138.00<label>已售1761</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/45741.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/17331_c84e.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>今生与你相伴·9枝红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>128.00<label>已售1969</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/45746.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>永远守护你·19枝苏醒玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>228.00<label>已售898</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/45736.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/176b9_8d4c.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>因你而幸福·9枝戴安娜粉玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>128.00<label>已售1113</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/45739.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/174cc_15367.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>至死不渝·33枝红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>328.00<label>已售610</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/46031.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/144c1_35c5.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>母爱如泉·11枝粉玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>198.00<label>已售672</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/46423.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/13/1b6b4_a991.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>为你倾心·11枝红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>138.00<label>已售392</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/46074.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/13/1c016_48e1.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>我的心中只有你·30枝红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>198.00<label>已售1129</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/45740.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/17457_800e.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>浪漫时光·10枝白玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>178.00<label>已售929</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/45744.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/14/16edd_bc2e.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>把你放在心上·19枝红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>158.00<label>已售673</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/46064.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/13/1c219_293d.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>天长地久·99枝黑纱红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>558.00<label>已售520</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
			<li>
				<a class="imgbounce" href="/xianhua/46062.html" title="商品">
					<div class="img"><img src="//www.xian.com/upload/image/2019-06/13/1c22a_96f4.jpg" width="84" height="84" /></div>
					<div class="txt">
						<h5>想你在每朝·33枝红玫瑰韩式花束</h5>
						<div class="price b"><span>¥</span>328.00<label>已售545</label></div>
					</div>
					<div class="clear"></div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="h25"></div>
-->


<div class="ad-red-rose">
	
	<a href="index30.html"><img src="static/picture/186ce_6ad8.jpg" width="277"></a>
	<div class="h10"></div>
</div>





<div class="evaluate-r">
	<div class="evaluate-r-title">24小时热销榜</div>
	<div class="evaluate-r-con">
		<ul>
			
			<li>
				<a href="45738.html" title="一心一意·11枝红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/1753a_53dd.jpg" alt="">
					<p>一心一意·11枝红玫瑰韩式花束</p>
					<p><span>￥138.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="45741.html" title="今生与你相伴·9枝红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/17331_c84e.jpg" alt="">
					<p>今生与你相伴·9枝红玫瑰韩式花束</p>
					<p><span>￥128.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="" title="永远守护你·19枝苏醒玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" alt="">
					<p>永远守护你·19枝苏醒玫瑰韩式花束</p>
					<p><span>￥228.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="45736.html" title="因你而幸福·9枝戴安娜粉玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/176b9_8d4c.jpg" alt="">
					<p>因你而幸福·9枝戴安娜粉玫瑰韩式花束</p>
					<p><span>￥128.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="45739.html" title="至死不渝·33枝红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/174cc_15367.jpg" alt="">
					<p>至死不渝·33枝红玫瑰韩式花束</p>
					<p><span>￥328.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="46031.html" title="母爱如泉·11枝粉玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/144c1_35c5.jpg" alt="">
					<p>母爱如泉·11枝粉玫瑰韩式花束</p>
					<p><span>￥198.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="46423.html" title="为你倾心·11枝红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/13/1b6b4_a991.jpg" alt="">
					<p>为你倾心·11枝红玫瑰韩式花束</p>
					<p><span>￥138.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="46074.html" title="我的心中只有你·30枝红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/13/1c016_48e1.jpg" alt="">
					<p>我的心中只有你·30枝红玫瑰韩式花束</p>
					<p><span>￥198.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="45740.html" title="浪漫时光·10枝白玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/17457_800e.jpg" alt="">
					<p>浪漫时光·10枝白玫瑰韩式花束</p>
					<p><span>￥178.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="45744.html" title="把你放在心上·19枝红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/14/16edd_bc2e.jpg" alt="">
					<p>把你放在心上·19枝红玫瑰韩式花束</p>
					<p><span>￥158.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="46064.html" title="天长地久·99枝黑纱红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/13/1c219_293d.jpg" alt="">
					<p>天长地久·99枝黑纱红玫瑰韩式花束</p>
					<p><span>￥558.00</span><span></span></p>
				</a>
				<hr>
			</li>
			<li>
				<a href="46062.html" title="想你在每朝·33枝红玫瑰韩式花束">
					<img data-lazy="//www.xian.com/upload/image/2019-06/13/1c22a_96f4.jpg" alt="">
					<p>想你在每朝·33枝红玫瑰韩式花束</p>
					<p><span>￥328.00</span><span></span></p>
				</a>
				<hr>
			</li>
		</ul>
	</div>
</div>
<div class="h25"></div>


<div class="box box-rxxh">
	<div class="box-bar"><p class="box-bar-title">鲜花适合对象</p></div>
	<div class="box-hot-con huayu-hot-label">
		<ul class="clearfix">
			
			<li><a href="javascript:;" title="送恋人">送恋人</a></li>
			<li><a href="javascript:;" title="送朋友">送朋友</a></li>
			<li><a href="javascript:;" title="送亲人">送亲人</a></li>
			<li><a href="javascript:;" title="送老师">送老师</a></li>
			<li><a href="javascript:;" title="送长辈">送长辈</a></li>
			<li><a href="javascript:;" title="送客户">送客户</a></li>
			<li><a href="javascript:;" title="送病人">送病人</a></li>
			<li><a href="index61.html" title="送花篮">送花篮</a></li>
			<li><a href="javascript:;" title="送桌花">送桌花</a></li>
		</ul>
	</div>
</div>
<div class="h25"></div>


<div class="autofixed" fixed=".wr893" style="width:277px;top:0;background-color:#fff;">
	<div class="box box-rxxh">
		<div class="box-bar"><p class="box-bar-title">鲜花用途</p></div>
		<div class="box-hot-con huayu-hot-label">
			<ul class="clearfix">
				
				<li><a href="index4.html" title="爱情鲜花">爱情鲜花</a></li>
				<li><a href="index5.html" title="生日鲜花">生日鲜花</a></li>
				<li><a href="index6.html" title="友情鲜花">友情鲜花</a></li>
				<li><a href="index7.html" title="周年纪念">周年纪念</a></li>
				<li><a href="index8.html" title="婚庆鲜花">婚庆鲜花</a></li>
				<li><a href="index9.html" title="祝贺鲜花">祝贺鲜花</a></li>
				<li><a href="javascript:;" title="探病慰问">探病慰问</a></li>
				<li><a href="index52.html" title="问候长辈">问候长辈</a></li>
				<li><a href="javascript:;" title="商务鲜花">商务鲜花</a></li>
				<li><a href="javascript:;" title="道歉鲜花">道歉鲜花</a></li>
			</ul>
		</div>
	</div>
	<div class="h25"></div>

	<div class="box box-rxxh">
		<div class="box-bar"><p class="box-bar-title">鲜花销售价</p></div>
		<div class="box-hot-con huayu-hot-label">
			<ul class="clearfix">
				
				<li><a href="index22.html" title="-149">150元以内</a></li>
				<li><a href="index23.html" title="150-199">150-199元</a></li>
				<li><a href="index24.html" title="200-249">200-249元</a></li>
				<li><a href="index25.html" title="250-399">250-399元</a></li>
				<li><a href="index26.html" title="400-499">400-499元</a></li>
				<li><a href="index27.html" title="500-599">500-599元</a></li>
				<li><a href="index28.html" title="600-699">600-699元</a></li>
				<li><a href="index29.html" title="700-100000">700元以上</a></li>
			</ul>
		</div>
	</div>
	<div class="h25"></div>
</div>

		</div>
		<div class="wr893">

			<div class="shop-header autofixed">
				<ul class="clearfix">
					<li class="active"><a href="javascript:;" anchor=".spxq">商品详情</a></li>
					<li><a href="javascript:;" anchor=".yhpj">用户评价(<span>781</span>)</a></li>
					<li><a href="javascript:;" anchor=".gwbz">购物保障</a></li>
				</ul>
				<div class="shop-header-but">
					
					<lable class="sell-val"><span>¥</span>228.00</lable>
					<a href="javascript:;" onclick="openChat();return false;">咨询客服</a>
					<a class="action" href="javascript:;" onclick="location=$('.shop-but .cartBuy').attr('href');"><i></i>立即购买</a>
				</div>
			</div>

			<div class="h40"></div>

			<div class="shop-params">
				<dl class="clearfix">
					<dt>主要花材：19枝苏醒玫瑰，2枝粉色桔梗，0.3扎小雏菊，0.2扎栀子叶，0.2扎水晶草，白色雪梨纸5张，黑白竖条纹蝴蝶结</dt>
					<dd><label>主花材</label><a href="index10.html">玫瑰花</a> <a href="index30.html">桔梗</a> <a href="index30.html">22枝</a></dd>
					<dd><label>花束辅材</label>0.3扎小雏菊，0.2扎栀子叶，0.2扎水晶草</dd>
					<dd><label>花束包装</label>白色雪梨纸5张，黑白竖条纹蝴蝶结</dd>
					<dd><label>适用对象</label><a href="javascript:;">客户</a><a href="javascript:;">亲人</a><a href="javascript:;">朋友</a></dd>
					<dd><label>适用节日</label><a href="javascript:;">道歉鲜花</a><a href="index6.html">友情鲜花</a><a href="index9.html">祝贺鲜花</a></dd>
					<dd><label>花束颜色</label><a href="javascript:;">粉色</a> </dd>
				</dl>
			</div>
			
			<div class="h40"></div>

			<div class="shop-body">
				<p style="text-align:center;">
	<img src="static/picture/25a79_fb10.jpg" alt=""><img src="static/picture/25a7a_7e4c.jpg" alt=""><img src="static/picture/25a7a_8e7d.jpg" alt=""><img src="static/picture/25a7b_62eb.jpg" alt="">
</p>
<p style="text-align:center;">
	<img src="static/picture/2ca43_5eab.jpg" alt="">
</p>
				<div class="body-box superiority">

	<img src="static/picture/goods-j-01.jpg">
	<img src="static/picture/goods-j-02.jpg">
	<img src="static/picture/goods-j-03.jpg">
	<img src="static/picture/goods-j-04.jpg">
	<img src="static/picture/goods-j-05.jpg">
	<img src="static/picture/goods-j-06.jpg">
	<img src="static/picture/goods-j-07.jpg">
	<img src="static/picture/goods-j-08.jpg">
	<img src="static/picture/goods-j-09.jpg">
	<img src="static/picture/goods-j-10.jpg">
	<img src="static/picture/goods-j-11.jpg">
	<img src="static/picture/goods-j-12.jpg">
	<img src="static/picture/goods-j-13.jpg">

     <div class="superiority-other">
		<div class="t1">其他说明</div>
		<div class="h30"></div>
		<div class="pb">因各地花艺师不同，在辅材搭配上不可能与图片完全一致，谢谢您的理解。 </div>
		<div class="h20"></div>
		<div class="pb">如果您不能确定送达地址所属范围，请参照以下标准执行：</div>
		<div>
		  <p>A 市区：指传统意义上的市区、或城内10公里范围，免费配送 </p>
		  <p>B 郊区：指城内超出10公里外至20公里范围内、或城区边缘地带，加收运费30元 </p>
		  <p>C 远郊及偏远地区：超出市区20公里以外的城市周边地区（或虽未超出20公里范围，但属交通不便地区）， 加收50元；偏远地区请先咨询好花网客服是否能够送达，如可以配送的话路费根据具体距离另商议。 </p>
		  <p>D 晚上18：30分后花艺师已下班，将在第二日进行派送，特殊紧急情况请联系客服。
		</p></div>
		<div class="h30"></div>
     </div>

</div>
				
<div class="h60"></div>
<div class="body-box yhpj">
	<div class="body-box-bar"><span class="title">用户评价(781)</span></div>	

	<div class="bbs-ajax">
		
<div class="bbs-list">
	<ul>
		
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">139****4156</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">永远守护你·19枝苏醒玫瑰韩式花束</div>
				<div class="bbs-body">
					<p>花很新鲜，看看花上都还有水珠，必须好评！</p>
				</div>
				<div class="bbs-goods-img">
					
					<img data-lazy="//www.xian.com/upload/comment/201910/30/5db938f6_15634.jpg" alt="">
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">220.169.***.19</span>
					<span style="color: #b4babf; font-size: 12px;">长沙市 宁乡县 雨花区湘府中路***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">135****2383</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:11枝粉玫瑰+5枝白桔梗]</div>
				<div class="bbs-body">
					<p>送给女朋友的生日礼物，女朋友看到以后很惊讶，很喜欢</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">222.245.***.64</span>
					<span style="color: #b4babf; font-size: 12px;">怀化市 洪江市 鹤城区富程路***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">133****4758</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:9枝紫红色康乃馨+10枝粉色多头康乃馨]</div>
				<div class="bbs-body">
					<p>很漂亮花花，我买了结果同事也喜欢，值得推荐购买！</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">14.223.***.179</span>
					<span style="color: #b4babf; font-size: 12px;">佛山市 三水区 南海区石龙南***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">139****7402</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">永远守护你·19枝苏醒玫瑰韩式花束</div>
				<div class="bbs-body">
					<p>花很漂亮，包装大气得体，感谢热情的卖家，选择这家花店没错，值得信赖！</p>
				</div>
				<div class="bbs-goods-img">
					
					<img data-lazy="//www.xian.com/upload/comment/201910/23/5daff480_d342.jpg" alt="">
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">61.186.***.123</span>
					<span style="color: #b4babf; font-size: 12px;">市辖区 巴南区 巴南区东泉镇正街1***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">181****2996</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:9枝紫红色康乃馨+10枝粉色多头康乃馨]</div>
				<div class="bbs-body">
					<p>服务很周到， 花也很美艳，推荐给朋友们了。他们还自夸我拯救了大家。</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">112.12.***.3</span>
					<span style="color: #b4babf; font-size: 12px;">金华市 金东区 和平路人民东路时代广***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">138****4231</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:11枝粉玫瑰+5枝白桔梗]</div>
				<div class="bbs-body">
					<p>很棒，去年买的今年又来了，花很漂亮，老婆很喜欢</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">117.36.***.205</span>
					<span style="color: #b4babf; font-size: 12px;">西安市 周至县 雁塔区长安中路1***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">135****8437</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:16枝苏醒粉玫瑰+1枝粉色绣球]</div>
				<div class="bbs-body">
					<p>花真的很漂亮，包装精美，送给朋友的生日礼物，朋友很喜欢，给卖家点个赞</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">202.99.***.100</span>
					<span style="color: #b4babf; font-size: 12px;">北京市 宣武区 西城区煤市街中段大齐家胡同***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">139****2710</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">永远守护你·19枝苏醒玫瑰韩式花束</div>
				<div class="bbs-body">
					<p>花很新鲜，非常漂亮，价格也实惠，比实体店便宜多了，值得推荐。</p>
				</div>
				<div class="bbs-goods-img">
					
					<img data-lazy="//www.xian.com/upload/comment/201909/05/5d70d2b7_fcf3.jpg" alt="">
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">42.236.***.126</span>
					<span style="color: #b4babf; font-size: 12px;">郑州市 管城回族区 高新区瑞达路与科学大道交叉口向南100***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">133****2055</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:22枝白玫瑰+14枝粉佳人粉玫瑰]</div>
				<div class="bbs-body">
					<p>花花看上去挺新鲜的，包装也基本一致。婆婆很开心。</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">122.228.***.128</span>
					<span style="color: #b4babf; font-size: 12px;">温州市 瓯海区 鹿城区车站大道***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">147****3874</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:16枝苏醒粉玫瑰+1枝粉色绣球]</div>
				<div class="bbs-body">
					<p>很好，花很新鲜，天气不好，送货人还一大早送花过来，真的辛苦了！</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">171.107.***.234</span>
					<span style="color: #b4babf; font-size: 12px;">钦州市 灵山县 钦南区人民路与新兴街交叉口***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">139****4620</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">永远守护你·19枝苏醒玫瑰韩式花束</div>
				<div class="bbs-body">
					<p>这服务这态度这速度这鲜花的新鲜度，都是特级棒！特满意！</p>
				</div>
				<div class="bbs-goods-img">
					
					<img data-lazy="//www.xian.com/upload/comment/201909/02/5d6cb330_10f7b.jpg" alt="">
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">58.55.***.229</span>
					<span style="color: #b4babf; font-size: 12px;">孝感市 市辖区 云梦县孝武广场对面雅丝***</span>
				</div>
			</div>
		</li>
		<li class="bbs-list-item">
			<div class="bbs-user-photo">
				<a href=""><img data-lazy="//www.xian.com/upload/image/2019-06/14/16db5_177be.jpg" width="57" height="57"></a>
				<span class="bbs-user-name">131****5700</span>
			</div>
			<div class="bbs-con">
				<div class="bbs-user">
					<span class="star"><span class="star-score star-5"></span></span>
				</div>
				<div class="bbs-goods">Full love浓情鲜花系列19枝苏醒玫瑰+2枝粉色桔梗 [商品类型:9枝紫红色康乃馨+10枝粉色多头康乃馨]</div>
				<div class="bbs-body">
					<p>服务好又友善耐心，包装很精美，鲜花也很精致，全五星！</p>
				</div>
				<div class="bbs-goods-img">
					
				</div>
				<div class="bbs-goods-bigimg"></div>
				<div class="bbs-post">
					<img src="static/picture/pos.png" style="width:auto;">
					<span class="bbs-post-ip">219.159.***.153</span>
					<span style="color: #b4babf; font-size: 12px;">桂林市 灌阳县 七星区穿山东路***</span>
				</div>
			</div>
		</li>
	</ul>
	
<div class="page-nav">
	<ul class="clearfix">
		<li><a href="javascript:;" url="/xianhua/45746/c1.html" title="上一页">上一页</a></li>		

		
		

		
		<li><span class="active">1</span></li>
		
		<li><a href="javascript:;" url="/xianhua/45746/c2.html" title="第2页" class="index ">2</a></li>
		<li><a href="javascript:;" url="/xianhua/45746/c3.html" title="第3页" class="index ">3</a></li>

		
		<li><span>…</span></li>
		
		
		<li><a href="javascript:;" url="/xianhua/45746/c65.html" title="第65页" class="index action">65</a></li>
		

		<li><a href="javascript:;" url="/xianhua/45746/c2.html" title="下一页">下一页</a></li>
	</ul>
	<div class="clear"></div>
</div>
</div>

	</div>
	<script type="text/javascript">
	$(function(){
		//动态加载评论
		$('.yhpj').on('click', '.page-nav li a', function(){
			$.ajax({
				url: $(this).attr('url'),
				type: 'get',
				dataType: 'text',
				success:function( result ){
					$('.yhpj .bbs-ajax').html( result );
					lazy.init({offset: 200,throttle: 1});
					$('.yhpj')[0].scrollIntoView(true);
				}
			});
			return false;
		});
	});
	</script>
</div>


				<div class="body-box gwbz">
	<div class="h60"></div>
	<div class="body-box-bar"><span class="title">购物保障</span></div>	
	<div class="ensure infos ">
		<div class="ensure-top">
			<img class="hover" data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_01.png" alt="">
			<img class="hover" data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_02.png" alt="">
			<img class="hover" data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_03.png" alt="">
			<img class="hover last_child" data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_04.png" alt="">
		</div>
		<div class="ensure-con ensure-body">
			<img data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_con_01.png" alt="">
			<img style="display: none;" data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_con_02.png" alt="">
			<img style="display: none;" data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_con_03.png" alt="">
			<img style="display: none;" data-lazy="//www.xian.com/theme/xian.com/default/static/img/ensure/ensure_con_04.png" alt="">
		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		$('.ensure .hover').hover(function(){
			$('.ensure .ensure-body img').hide().eq($(this).index()).show();
		});
	});
	</script>
</div>
			</div>

		</div>
		<div class="clear"></div>
	</div>

		
	<div class="footer ">
	<div class="wrap">
		<div class=" footer-items">
			<div class="footer-item footer-link bdsharebuttonbox">
				<a class="hover footer-link-wx" href="javascript:;" data-cmd="weixin"></a>
				<a class="hover footer-link-qq" href="javascript:;" data-cmd="qzone"></a>
				<a class="hover footer-link-wb" href="javascript:;" data-cmd="tsina"></a>
				<p>Copyright © 2018 鲜家 All rights reserved.<br>Powered by Bo Wen Technology Co., Ltd.<br>工信部备：辽ICP备18014953号-2<br>公安部备：21010202000602</p>
			</div>
			<div class="footer-item r_code">
				<img data-lazy="//www.xian.com/theme/xian.com/default/static/img/r_code.png" alt="">
				<p>微信关注鲜家，立享优惠</p>
				<script type="text/javascript" src="static/js/mobile.js"></script>
			</div>
			<div class="footer-item footer-others">
				<div class="footer-other">
					<div class="footer-other-link">
						<span><a href="210.html">售后服务</a></span>
						<span><a href="index84.html">同城鲜花</a></span>
						<span><a href="200.html">关于我们</a></span>
					</div>
					<div class="footer-other-tel">全国订购热线:<span>400-888-1571</span></div>
					<div class="footer-other-tel">商务合作热线:<span>024-31128100</span></div>
					<div class="footer-other-customs">
						<a class="hover" href="javascript:;" onclick="openChat();">在线客服</a>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>

<script type="text/javascript" src="static/js/leyu.js"></script>
<script type="text/javascript" src="static/js/tongji.js"></script>
	<div class="rside">
	<div class="ibut cservice ">
		<a href="javascript:;" onclick="openChat();" title="鲜家顾问" class="cservice-avator">
			<p>鲜家顾问</p>
			<p>竭诚为您服务</p>
		</a>
		<!--
		<a class="cservice-box" href="javascript:;" onclick="openChat();">
			<div class="cservice-box-content">
				<div class="cservice-box-title">甄选优质鲜花，心意不打折扣</div>
				<div class="cservice-box-sub">“花”点时间说爱ta</div>
				<span class="cservice-box-close">✕</span>
			</div>
			<div class="cservice-box-btns">
				<span class="cservice-box-btn1">选花咨询</span>
				<span class="cservice-box-btn2">特价鲜花</span>
			</div>
			<div class="arrow-right"></div>
		</a>
		-->
	</div>
	<ul>
		<li class="cart ">
			<a href="index3.html" title="购物车">
				<i class="icon-rside icon-cart2"></i>
				<span class="icon-scar-num">0</span>
			</a>
		</li>
		<li class="ibut favorite ">
			<a href="index85.html" title="收藏鲜花">
				<i class="icon-rside icon-favorite"></i>
			</a>
			<div class="rsidepop">
				<a href="index85.html">
					收藏鲜花
				</a>
			</div>
		</li>
		<li class="ibut history ">
			<a href="javascript:;" title="历史记录">
				<i class="icon-rside icon-history"></i>
			</a>
		</li>
		<li class="ibut qrcode ">
			<a href="javascript:;" title="关注微信公众号">
				<i class="icon-rside icon-qrcode"></i>
			</a>
			<div class="rsidepop">
				<div class="fqrcode tc">
					<p class="note">回复“礼物”有惊喜！" 活动多多，在鲜家遇见幸福</p>
					<p class="img">
						<img src="static/picture/r_code.png" width="128" height="130">
					</p>
					<p class="gzh">公众号</p>
				</div>
			</div>
		</li>
		<li class="ibut expanded iconbounce">
			<a href="javascript:;" onclick="$(function () {$('html').animate({ scrollTop: 0 }, 500);$('body').animate({scrollTop: 0}, 500);})" title="顶部">
			<i class="icon-rside icon-expanded"></i>顶部</a>
		</li>
	</ul>
</div>

	<script language="javascript" src="static/js/js.js"></script>

</body>
</html>