<!DOCTYPE html>
<html>
<head>
	<title>鲜花售后服务_鲜家网</title>
    <meta name="keywords" content="">
    <meta name="description" content="鲜花售后服务 Cancellation 漏单 客户按时支付成功，我们没有做任何处理。 处理办法：全额退款，退回至客户指定帐户，或存入客户会员余额(可随时订购抵扣)。同时，和客户另协商配送时间，我们...">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" type="text/css" href="static/css/animation.css">
<link rel="stylesheet" type="text/css" href="static/css/common.css">
<link rel="stylesheet" type="text/css" href="static/css/base.css">

<script src="static/js/jquery-1.7.2.min.js"></script>
<script src="static/js/banner.js"></script>
<script src="static/js/lazyload.js"></script>
<script src="static/js/cutdown.js"></script>

<script type="text/javascript" src="static/js/jquery.showDialog.js"></script>
<link href="static/css/showDialog.css" rel="stylesheet" type="text/css">

<script src="static/js/app.min.js"></script>
<script src="static/js/common.js"></script>
<script type="text/javascript">app.uri='';app.root='//www.xian.com';</script>
	<style type="text/css">.service-body span{color: #ff2f2f;}</style>
	<script type="text/javascript">
	$(function(){
		$('.khzx-menu dl dt a').click(function(){
			$('.khzx-menu dl').removeClass('active');
			$(this).parent().parent().addClass('active');
		});
		//动态生成
		$('.khzx-menu dl dd a[aid=210]').addClass('active').parent().parent().addClass('active');
	});
	</script>
</head>
<body class="bg">

	
<div class="topper">
	<div class="wrap">
		<div class="h-left">
			<a href="javascript:;" title="收藏鲜花网"><img src="static/picture/logo.png" src="//www.xian.com/theme/xian.com/default/static/img/logo.png" width="200" height="90"></a>
		</div>
		<div class="h-right">
			<a href="index.html">首页</a>
			<a href="index30.html">鲜花</a>
			<a href="index31.html">永生花</a>
			<a href="index32.html">礼品</a>
			<a href="index33.html">每周一花</a>
			<a href="index34.html">花语</a>
			<a href="index35.html">企业团购</a>
			<span class="search">
				<form action="//www.xian.com/s.html" method="get" name="search">
					<input type="hidden" name="o" value="0">
					<div class="search-frame">
						<input type="text" class="q" name="q" placeholder="请输入关键词搜索" autocomplete="off" value="">
						<button type="submit" class="s" onclick="if($('.q').val()=='') return false;"><i class="icon icon-search iconbounce"></i></button>
					</div>
				</form>
			</span>
			<a class="nb" href="index3.html"><span class="shopcar iconbounce"><i class="icon icon-cart"></i><i class="icon-scar-num">0</i></span></a>
			<span class="shop-other iconbounce"> <i class="icon icon-me"></i> </span>
			<div class="h-me-select" style="display: none;">
				<div class="arrow-up"></div>
				<ul>
					<li class="i_1 login"><a href="index2.html"><i class="i"></i>登录/注册</a></li>
					<li class="i_2"><a href="index1.html"><i class="i"></i>我的鲜家</a></li>
					<li class="i_3"><a href="index85.html"><i class="i"></i>我的收藏</a></li>
					<li class="i_4"><a href="javascript:;" onclick="openChat();"><i class="i"></i>联系客服</a></li>
					<li class="i_5"><a href="index33.html"><i class="i"></i>帮助中心</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="h-list" style="display: none;">
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_10_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>用途</span><span>销售价</span><span>花材</span><span>枝数</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="index4.html">爱情鲜花</a>
					<a href="index5.html">生日鲜花</a>
					<a href="index6.html">友情鲜花</a>
					<a href="index7.html">周年纪念</a>
					<a href="index8.html">婚庆鲜花</a>
					<a href="index9.html">祝贺鲜花</a>
					<a href="javascript:;">探病慰问</a>
					<a href="index52.html">问候长辈</a>
					<a href="javascript:;">商务鲜花</a>
					<a href="javascript:;">道歉鲜花</a>
				</span>
				<span>
					
					<a href="index22.html">150元以内</a>
					<a href="index23.html">150-199元</a>
					<a href="index24.html">200-249元</a>
					<a href="index25.html">250-399元</a>
					<a href="index26.html">400-499元</a>
					<a href="index27.html">500-599元</a>
					<a href="index28.html">600-699元</a>
					<a href="index29.html">700元以上</a>
				</span>
				<span>
					
					<a href="index10.html">玫瑰花</a>
					<a href="index11.html">康乃馨</a>
					<a href="index12.html">百合花</a>
					<a href="index13.html">向日葵</a>
					<a href="index14.html">紫罗兰</a>
					<a href="index15.html">满天星</a>
				</span>
				<span>
					
					<a href="javascript:;">6枝</a>
					<a href="javascript:;">8枝</a>
					<a href="javascript:;">9枝</a>
					<a href="javascript:;">11枝</a>
					<a href="javascript:;">12枝</a>
					<a href="javascript:;">13枝</a>
					<a href="javascript:;">15枝</a>
					<a href="javascript:;">16枝</a>
					<a href="javascript:;">19枝</a>
					<a href="javascript:;">21枝</a>
					<a href="javascript:;">25枝</a>
					<a href="javascript:;">29枝</a>
					<a href="javascript:;">33枝</a>
					<a href="javascript:;">66枝</a>
					<a href="javascript:;">99枝以上</a>
				</span>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_11_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>类别</span><span>用途</span><span>销售价</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="javascript:;">经典花盒</a>
					<a href="javascript:;">永生瓶花</a>
					<a href="javascript:;">巨型玫瑰</a>
					<a href="javascript:;">特色永生花</a>
					<a href="javascript:;">永生花公仔</a>
				</span>
				<span>
					
					<a href="javascript:;">送恋人爱人</a>
					<a href="javascript:;">送父母长辈</a>
					<a href="javascript:;">送朋友同事</a>
				</span>
				<span>
					
					<a href="index70.html">100-199元</a>
					<a href="index71.html">200-299元</a>
					<a href="index72.html">300-399元</a>
					<a href="index73.html">400-499元</a>
					<a href="index74.html">500-599元</a>
					<a href="index75.html">600-699元</a>
					<a href="index76.html">700元以上</a>
				</span>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="h-list-l"><img src="static/picture/h-list_15_img.png" alt=""></div>
		<div class="h-list-r">
			
			<div class="h-list-rt">
				<span>类别</span><span>用途</span><span>适合对象</span><span>销售价</span>
			</div>
			<div class="h-list-rc">
				
				<span>
					
					<a href="javascript:;">首饰</a>
					<a href="javascript:;">音乐盒</a>
					<a href="javascript:;">香薰</a>
					<a href="javascript:;">公仔</a>
					<a href="javascript:;">创意摆件</a>
					<a href="javascript:;">巧克力</a>
					<a href="javascript:;">灯饰</a>
					<a href="javascript:;">水晶球</a>
					<a href="javascript:;">水杯</a>
					<a href="javascript:;">加湿器</a>
					<a href="javascript:;">按摩仪</a>
				</span>
				<span>
					
					<a href="javascript:;">生日礼品</a>
					<a href="javascript:;">约会礼品</a>
					<a href="index82.html">结婚礼品</a>
					<a href="javascript:;">祝福礼品</a>
					<a href="javascript:;">拜访礼品</a>
					<a href="javascript:;">纪念日礼品</a>
					<a href="javascript:;">乔迁礼品</a>
					<a href="javascript:;">家居礼品</a>
				</span>
				<span>
					
					<a href="javascript:;">送恋人</a>
					<a href="javascript:;">送朋友</a>
					<a href="javascript:;">送客户</a>
					<a href="javascript:;">送老师</a>
					<a href="javascript:;">送小孩</a>
					<a href="javascript:;">送领导</a>
					<a href="javascript:;">送长辈</a>
				</span>
				<span>
					
					<a href="index77.html">120元以下</a>
					<a href="index78.html">120-180元</a>
					<a href="index79.html">180-300元</a>
					<a href="index80.html">300-500元</a>
					<a href="index81.html">500元以上</a>
				</span>
			</div>
		</div>
	</div>
</div>

	<div class="wrap nav">
		<a href="index.html">鲜家首页</a><span>&gt;</span>鲜花售后服务
	</div>

	<div class="wrap">
		<div class="wl240 bgfff khzx-menu">
			<dl>
				<dt><a href="javascript:;"><i class="icon km01"></i>服务声明<i class="icon km"></i></a></dt>
				<dd><a href="200.html" aid="200">服务声明</a></dd>
				<dd><a href="202.html" aid="202">购物流程</a></dd>
				<dd><a href="201.html" aid="201">隐私条款</a></dd>
			</dl>

			<dl>
				<dt><a href="javascript:;"><i class="icon km02"></i>常见问题</a></dt>
				<dd><a href="203.html" aid="203">常见问题</a></dd>
			</dl>

			<dl>
				<dt><a href="javascript:;"><i class="icon km03"></i>订单帮助<i class="icon km"></i></a></dt>
				<!--dd><a href="/service/212.html" aid="212">订单查询</a></dd-->
				<dd><a href="213.html" aid="213">取消订单</a></dd>
				<dd><a href="211.html" aid="211">订单补交货款</a></dd>
			</dl>

			<dl>
				<dt><a href="javascript:;"><i class="icon km04"></i>售后服务<i class="icon km"></i></a></dt>
				<dd><a href="208.html" aid="208">投诉说明</a></dd>
				<dd><a href="" aid="210">鲜花售后服务</a></dd>
				<!--dd><a href="/service/209.html" aid="209">绿植售后服务</a></dd-->
			</dl>
<!--
			<dl>
				<dt><a href="javascript:;"><i class="icon km05"></i>礼品卡<i class="icon km"></i></a></dt>
			</dl>
-->
			<dl>
				<dt><a href="javascript:;"><i class="icon km06"></i>配送说明<i class="icon km"></i></a></dt>
				<dd><a href="207.html" aid="207">配送说明</a></dd>
				<dd><a href="205.html" aid="205">鲜花配送范围</a></dd>
				<dd><a href="204.html" aid="204">郊区/偏远地区配送费用</a></dd>
				<!--dd><a href="/service/206.html" aid="206">港澳台配送说明</a></dd-->
			</dl>

		</div>
		<div class="wr935 bgfff">
			<div class="service-body">
				<h3>
	鲜花售后服务
</h3>
<h4>
	Cancellation
</h4>
<h5>
	漏单
</h5>
<p>
	客户按时支付成功，我们没有做任何处理。
</p>
<p>
	<b>处理办法：</b>全额退款，退回至客户指定帐户，或存入客户会员余额(可随时订购抵扣)。同时，和客户另协商配送时间，我们免费重新派送原订单。
</p>
<h5>
	误单
</h5>
<p>
	因我方失误，配送日期提前或延后
</p>
<p>
	<b>处理办法：</b>将订单款项的50%退还，存入客户的会员余额，或者在客户指定时间，再配送一次与原订单鲜花。
</p>
<h5>
	花材不符
</h5>
<p>
	没有和客户沟通，由于我方失误造成主花材鲜花颜色不符
</p>
<p>
	<b>处理办法：</b>给收花人补送原订单的鲜花，或者将订单款项的50%退还，存入客户的会员余额。
</p>
<p>
	<br>
</p>
<p>
	主花材数量不符
</p>
<p>
	<b>处理办法：</b>向收花人真诚道歉，并补送道歉花束。
</p>
<p>
	<br>
</p>
<p>
	花材不新鲜
</p>
<p>
	A、配送的鲜花不新鲜，收花人拒收。
</p>
<p>
	<b>处理方式：</b>重新配送新鲜的鲜花，并向客户真诚道歉。
</p>
<p>
	<br>
</p>
<p>
	B、收花人已收下花束，后客户投诉鲜花不新鲜。
</p>
<p>
	<b>处理方法：</b>如果经核实花材是新鲜的，是部分花材需要时间才能开放等类似原因，我们将认真向客户解释清楚。
</p>
<p>
	如果经核实确属花材不新鲜，重新给收花人补送原订单的新鲜鲜花，并向客户真诚道歉。
</p>
<p>
	1.B类情况，请务必在夏季鲜花收到2个小时内、其他季节鲜花收到4个小时内向我们投诉。同时收花人需保留花礼，我们将派工作人员调查核实，如果已将花礼损坏或丢弃，或者投诉时效逾期，将不便核实，视为无效投诉。
</p>
<p>
	2.B类情况，如果收花人签收了我们的签收单，且对收到货品的反馈意见没有签写为“不满意”，则不做投诉处理。
</p>
<h5>
	花瓶/巧克力
</h5>
<p>
	漏送花瓶/巧克力/花束中的公仔
</p>
<p>
	<b>处理办法：</b>按照原订单要求尽快补送，并真诚道歉。
</p>
<h5>
	贺卡
</h5>
<p>
	没有送贺卡
</p>
<p>
	<b>处理办法：</b>按照原订单要求尽快补送，并真诚道歉。
</p>
<p>
	<br>
</p>
<p>
	留言内容有误
</p>
<p>
	<b>处理办法：</b>按照原订单补送贺卡，如内容导致歧义，同时补送道歉花束。
</p>
<h5>
	其他
</h5>
<p>
	任何您不满的地方，均可向鲜家网反馈，我们将认真倾听，用心改进，为您提供更满意的服务。
</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="footer ">
	<div class="wrap">
		<div class=" footer-items">
			<div class="footer-item footer-link bdsharebuttonbox">
				<a class="hover footer-link-wx" href="javascript:;" data-cmd="weixin"></a>
				<a class="hover footer-link-qq" href="javascript:;" data-cmd="qzone"></a>
				<a class="hover footer-link-wb" href="javascript:;" data-cmd="tsina"></a>
				<p>Copyright © 2018 鲜家 All rights reserved.<br>Powered by Bo Wen Technology Co., Ltd.<br>工信部备：辽ICP备18014953号-2<br>公安部备：21010202000602</p>
			</div>
			<div class="footer-item r_code">
				<img data-lazy="//www.xian.com/theme/xian.com/default/static/img/r_code.png" alt="">
				<p>微信关注鲜家，立享优惠</p>
				<script type="text/javascript" src="static/js/mobile.js"></script>
			</div>
			<div class="footer-item footer-others">
				<div class="footer-other">
					<div class="footer-other-link">
						<span><a href="">售后服务</a></span>
						<span><a href="index84.html">同城鲜花</a></span>
						<span><a href="200.html">关于我们</a></span>
					</div>
					<div class="footer-other-tel">全国订购热线:<span>400-888-1571</span></div>
					<div class="footer-other-tel">商务合作热线:<span>024-31128100</span></div>
					<div class="footer-other-customs">
						<a class="hover" href="javascript:;" onclick="openChat();">在线客服</a>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>

<script type="text/javascript" src="static/js/leyu.js"></script>
<script type="text/javascript" src="static/js/tongji.js"></script>

	<div class="rside">
	<div class="ibut cservice ">
		<a href="javascript:;" onclick="openChat();" title="鲜家顾问" class="cservice-avator">
			<p>鲜家顾问</p>
			<p>竭诚为您服务</p>
		</a>
		<!--
		<a class="cservice-box" href="javascript:;" onclick="openChat();">
			<div class="cservice-box-content">
				<div class="cservice-box-title">甄选优质鲜花，心意不打折扣</div>
				<div class="cservice-box-sub">“花”点时间说爱ta</div>
				<span class="cservice-box-close">✕</span>
			</div>
			<div class="cservice-box-btns">
				<span class="cservice-box-btn1">选花咨询</span>
				<span class="cservice-box-btn2">特价鲜花</span>
			</div>
			<div class="arrow-right"></div>
		</a>
		-->
	</div>
	<ul>
		<li class="cart ">
			<a href="index3.html" title="购物车">
				<i class="icon-rside icon-cart2"></i>
				<span class="icon-scar-num">0</span>
			</a>
		</li>
		<li class="ibut favorite ">
			<a href="index85.html" title="收藏鲜花">
				<i class="icon-rside icon-favorite"></i>
			</a>
			<div class="rsidepop">
				<a href="index85.html">
					收藏鲜花
				</a>
			</div>
		</li>
		<li class="ibut history ">
			<a href="javascript:;" title="历史记录">
				<i class="icon-rside icon-history"></i>
			</a>
		</li>
		<li class="ibut qrcode ">
			<a href="javascript:;" title="关注微信公众号">
				<i class="icon-rside icon-qrcode"></i>
			</a>
			<div class="rsidepop">
				<div class="fqrcode tc">
					<p class="note">回复“礼物”有惊喜！" 活动多多，在鲜家遇见幸福</p>
					<p class="img">
						<img src="static/picture/r_code.png" width="128" height="130">
					</p>
					<p class="gzh">公众号</p>
				</div>
			</div>
		</li>
		<li class="ibut expanded iconbounce">
			<a href="javascript:;" onclick="$(function () {$('html').animate({ scrollTop: 0 }, 500);$('body').animate({scrollTop: 0}, 500);})" title="顶部">
			<i class="icon-rside icon-expanded"></i>顶部</a>
		</li>
	</ul>
</div>

	<script language="javascript" src="static/js/js.js"></script>
</body>
</html>